@media (min-width: 768px) {
    #SECTION_POPUP {
        height: 0px;
    }
    #SECTION2 {
        height: 541.3px;
    }
    #PARAGRAPH100 {
        width: 439px;
        top: 7.7px;
        left: 475px;
    }
    #PARAGRAPH100>.ladi-paragraph {
        color: rgb(0, 0, 0);
        font-size: 25px;
        font-weight: bold;
        line-height: 1.6;
    }
    #HEADLINE101 {
        width: 104px;
        top: 60.7px;
        left: 475px;
    }
    #HEADLINE101>.ladi-headline {
        text-decoration-line: line-through;
        -webkit-text-decoration-line: line-through;
        color: rgb(0, 0, 0);
        font-size: 19px;
        line-height: 1.6;
    }
    #PARAGRAPH103 {
        width: 145px;
        top: 47.7px;
        left: 587.5px;
    }
    #PARAGRAPH103>.ladi-paragraph {
        color: rgb(255, 1, 1);
        font-size: 29px;
        font-weight: bold;
        line-height: 1.6;
    }
    #PARAGRAPH104 {
        width: 142px;
        top: 99.7px;
        left: 475px;
    }
    #PARAGRAPH104>.ladi-paragraph {
        color: rgb(0, 0, 0);
        font-size: 16px;
        line-height: 1.6;
    }
    #LIST_PARAGRAPH105 {
        width: 447px;
        top: 130.7px;
        left: 475px;
    }
    #LIST_PARAGRAPH105>.ladi-list-paragraph {
        color: rgb(0, 0, 0);
        font-size: 16px;
        line-height: 1.6;
    }
    #LIST_PARAGRAPH105 ul li {
        padding-left: 20px;
    }
    #LIST_PARAGRAPH105 ul li:before {
        content: counter(linum, disc);
        font-size: 40px;
        top: -20px;
    }
    #BUTTON_TEXT106 {
        width: 172px;
        top: 9px;
        left: 0px;
    }
    #BUTTON_TEXT106>.ladi-headline {
        color: rgb(255, 255, 255);
        font-size: 16px;
        text-align: center;
        line-height: 1.6;
    }
    #BUTTON106 {
        width: 172px;
        height: 40px;
        top: 269.764px;
        left: 475px;
    }
    #BUTTON106>.ladi-button>.ladi-button-background {
        background-color: rgb(255, 1, 1);
    }
    #BUTTON106>.ladi-button {
        border-radius: 11px;
    }
    #IMAGE108 {
        width: 311.908px;
        height: 54.064px;
        top: 262.732px;
        left: 656px;
    }
    #IMAGE108>.ladi-image>.ladi-image-background {
        width: 311.908px;
        height: 54.064px;
        top: 0px;
        left: 0px;
        background-image: url("https://w.ladicdn.com/s650x400/5a0bca168b7e8089c9b713d9/3-20200904073124.png");
    }
    #PARAGRAPH109 {
        width: 176px;
        top: 348.7px;
        left: 475px;
    }
    #PARAGRAPH109>.ladi-paragraph {
        color: rgb(0, 0, 0);
        font-size: 16px;
        line-height: 1.6;
    }
    #PARAGRAPH110 {
        width: 213px;
        top: 348.7px;
        left: 686px;
    }
    #PARAGRAPH110>.ladi-paragraph {
        color: rgb(0, 0, 0);
        font-size: 16px;
        line-height: 1.6;
    }
    #PARAGRAPH111 {
        width: 30px;
        top: 348.7px;
        left: 656px;
    }
    #PARAGRAPH111>.ladi-paragraph {
        color: rgb(0, 0, 0);
        font-size: 16px;
        line-height: 1.6;
    }
    #PARAGRAPH114 {
        width: 211px;
        top: 473.7px;
        left: 40px;
    }
    #PARAGRAPH114>.ladi-paragraph {
        color: rgb(0, 0, 0);
        font-size: 18px;
        font-weight: bold;
        line-height: 1.6;
    }
    #PARAGRAPH115 {
        width: 188px;
        top: 473.7px;
        left: 287px;
    }
    #PARAGRAPH115>.ladi-paragraph {
        color: rgb(0, 0, 0);
        font-size: 18px;
        font-weight: bold;
        line-height: 1.6;
    }
    #SHAPE116 {
        width: 39px;
        height: 39px;
        top: 468.2px;
        left: 240.5px;
    }
    #SHAPE116 svg:last-child {
        fill: rgba(16, 145, 33, 1.0);
    }
    #SHAPE117 {
        width: 36.3966px;
        height: 41.473px;
        top: 465.464px;
        left: 0px;
    }
    #SHAPE117 svg:last-child {
        fill: rgba(255, 1, 1, 1.0);
    }
    #SECTION118 {
        height: 683.3px;
    }
    #IMAGE119 {
        width: 234.067px;
        height: 169.887px;
        top: 393.226px;
        left: 689.199px;
    }
    #IMAGE119>.ladi-image>.ladi-image-background {
        width: 234.067px;
        height: 211.131px;
        top: -23px;
        left: 0px;
        background-image: url("https://w.ladicdn.com/s550x550/5a0bca168b7e8089c9b713d9/1-20200907075017.png");
    }
    #IMAGE120 {
        width: 218px;
        height: 164.425px;
        top: 398.688px;
        left: 363.199px;
    }
    #IMAGE120>.ladi-image>.ladi-image-background {
        width: 218px;
        height: 164.425px;
        top: 0px;
        left: 0px;
        background-image: url("https://w.ladicdn.com/s550x500/5a0bca168b7e8089c9b713d9/2-20200907075018.png");
    }
    #IMAGE121 {
        width: 225.603px;
        height: 164.425px;
        top: 398.688px;
        left: 36.3966px;
    }
    #IMAGE121>.ladi-image>.ladi-image-background {
        width: 225.603px;
        height: 195.402px;
        top: -21px;
        left: 0px;
        background-image: url("https://w.ladicdn.com/s550x500/5a0bca168b7e8089c9b713d9/3-20200907075018.png");
    }
    #IMAGE122 {
        width: 217.492px;
        height: 146.332px;
        top: 100.233px;
        left: 688.368px;
    }
    #IMAGE122>.ladi-image>.ladi-image-background {
        width: 217.492px;
        height: 216.066px;
        top: -69.7338px;
        left: 0px;
        background-image: url("https://w.ladicdn.com/s550x550/5a0bca168b7e8089c9b713d9/4-20200907075018.png");
    }
    #IMAGE123 {
        width: 221.529px;
        height: 155.485px;
        top: 91.0807px;
        left: 363.199px;
    }
    #IMAGE123>.ladi-image>.ladi-image-background {
        width: 221.529px;
        height: 164.638px;
        top: 0px;
        left: 0px;
        background-image: url("https://w.ladicdn.com/s550x500/5a0bca168b7e8089c9b713d9/5-20200907075018.png");
    }
    #IMAGE124 {
        width: 219.5px;
        height: 146.333px;
        top: 100.233px;
        left: 36.3971px;
    }
    #IMAGE124>.ladi-image>.ladi-image-background {
        width: 219.5px;
        height: 179.623px;
        top: -33.29px;
        left: 0px;
        background-image: url("https://w.ladicdn.com/s550x500/5a0bca168b7e8089c9b713d9/6-20200907075018.png");
    }
    #PARAGRAPH125 {
        width: 207px;
        top: 253.226px;
        left: 44.5952px;
    }
    #PARAGRAPH125>.ladi-paragraph {
        color: rgb(0, 0, 0);
        font-size: 16px;
        text-align: justify;
        line-height: 1.6;
    }
    #PARAGRAPH126 {
        width: 207px;
        top: 253.226px;
        left: 368.699px;
    }
    #PARAGRAPH126>.ladi-paragraph {
        color: rgb(0, 0, 0);
        font-size: 16px;
        text-align: justify;
        line-height: 1.6;
    }
    #PARAGRAPH127 {
        width: 207px;
        top: 253.226px;
        left: 689.199px;
    }
    #PARAGRAPH127>.ladi-paragraph {
        color: rgb(0, 0, 0);
        font-size: 16px;
        text-align: justify;
        line-height: 1.6;
    }
    #PARAGRAPH128 {
        width: 207px;
        top: 578.226px;
        left: 50.1986px;
    }
    #PARAGRAPH128>.ladi-paragraph {
        color: rgb(0, 0, 0);
        font-size: 16px;
        text-align: justify;
        line-height: 1.6;
    }
    #PARAGRAPH129 {
        width: 207px;
        top: 578.226px;
        left: 370.463px;
    }
    #PARAGRAPH129>.ladi-paragraph {
        color: rgb(0, 0, 0);
        font-size: 16px;
        text-align: justify;
        line-height: 1.6;
    }
    #PARAGRAPH130 {
        width: 168px;
        top: 578.226px;
        left: 722.232px;
    }
    #PARAGRAPH130>.ladi-paragraph {
        color: rgb(0, 0, 0);
        font-size: 16px;
        text-align: center;
        line-height: 1.6;
    }
    #HEADLINE131 {
        width: 329px;
        top: 13.9px;
        left: 307.699px;
    }
    #HEADLINE131>.ladi-headline {
        color: rgb(0, 0, 0);
        font-size: 29px;
        line-height: 1.6;
    }
    #HEADLINE145 {
        width: 310px;
        top: 13.9px;
        left: 335.897px;
    }
    #HEADLINE145>.ladi-headline {
        color: rgb(0, 0, 0);
        font-size: 29px;
        line-height: 1.6;
    }
    #SECTION132 {
        height: 735.3px;
    }
    #PARAGRAPH146 {
        width: 909px;
        top: 70.6px;
        left: 36.3966px;
    }
    #PARAGRAPH146>.ladi-paragraph {
        color: rgb(0, 0, 0);
        font-size: 16px;
        text-align: justify;
        line-height: 1.6;
    }
    #IMAGE147 {
        width: 246.216px;
        height: 182.985px;
        top: 313.202px;
        left: 463.576px;
    }
    #IMAGE147>.ladi-image>.ladi-image-background {
        width: 246.216px;
        height: 182.985px;
        top: 0px;
        left: 0px;
        background-image: url("https://w.ladicdn.com/s550x500/5a0bca168b7e8089c9b713d9/6-20200907075018.png");
    }
    #IMAGE148 {
        width: 222.576px;
        height: 182.985px;
        top: 313.202px;
        left: 241px;
    }
    #IMAGE148>.ladi-image>.ladi-image-background {
        width: 222.576px;
        height: 182.985px;
        top: 0px;
        left: 0px;
        background-image: url("https://w.ladicdn.com/s550x500/5a0bca168b7e8089c9b713d9/1-20200907075017.png");
    }
    #IMAGE149 {
        width: 230.919px;
        height: 167.602px;
        top: 145.6px;
        left: 463.576px;
    }
    #IMAGE149>.ladi-image>.ladi-image-background {
        width: 230.919px;
        height: 167.602px;
        top: 0px;
        left: 0px;
        background-image: url("https://w.ladicdn.com/s550x500/5a0bca168b7e8089c9b713d9/2-20200907075018.png");
    }
    #IMAGE150 {
        width: 222.576px;
        height: 167.602px;
        top: 145.6px;
        left: 241px;
    }
    #IMAGE150>.ladi-image>.ladi-image-background {
        width: 260.571px;
        height: 225.689px;
        top: -40.087px;
        left: -29px;
        background-image: url("https://w.ladicdn.com/s600x550/5a0bca168b7e8089c9b713d9/3-20200907075018.png");
    }
    #PARAGRAPH151 {
        width: 909px;
        top: 507.6px;
        left: 19.463px;
    }
    #PARAGRAPH151>.ladi-paragraph {
        color: rgb(0, 0, 0);
        font-size: 16px;
        text-align: justify;
        line-height: 1.6;
    }
    #PARAGRAPH170 {
        width: 315px;
        top: 15.764px;
        left: 20px;
    }
    #PARAGRAPH170>.ladi-paragraph {
        color: rgb(0, 0, 0);
        font-size: 18px;
        font-weight: bold;
        line-height: 1.6;
    }
    #IMAGE171 {
        width: 401.405px;
        height: 49.764px;
        top: 0px;
        left: 406.095px;
    }
    #IMAGE171>.ladi-image>.ladi-image-background {
        width: 402.405px;
        height: 49.764px;
        top: 0px;
        left: 0px;
        background-image: url("https://w.ladicdn.com/s750x350/5a0bca168b7e8089c9b713d9/2-20200904072325.png");
    }
    #BUTTON_TEXT172 {
        width: 172px;
        top: 9px;
        left: 0px;
    }
    #BUTTON_TEXT172>.ladi-headline {
        color: rgb(255, 255, 255);
        font-size: 16px;
        text-align: center;
        line-height: 1.6;
    }
    #BUTTON172 {
        width: 172px;
        height: 40px;
        top: 6.764px;
        left: 810.5px;
    }
    #BUTTON172>.ladi-button>.ladi-button-background {
        background-color: rgb(255, 1, 1);
    }
    #BUTTON172>.ladi-button {
        border-radius: 11px;
    }
    #SECTION169 {
        height: 56.806px;
    }
    #BOX174 {
        width: 990px;
        height: 54.85px;
        top: 2.339px;
        left: 0px;
    }
    #BOX174>.ladi-box {
        background-color: rgb(255, 255, 255);
        border-radius: 12px;
    }
    #GROUP175 {
        width: 990px;
        height: 57.189px;
        top: 0px;
        left: 0px;
    }
    #GALLERY199 {
        width: 420px;
        height: 450px;
        top: 7.7px;
        left: 18px;
    }
    #GALLERY199>.ladi-gallery>.ladi-gallery-view {
        height: calc(100% - 85px);
    }
    #GALLERY199>.ladi-gallery>.ladi-gallery-control {
        height: 80px;
    }
    #GALLERY199>.ladi-gallery>.ladi-gallery-control>.ladi-gallery-control-box>.ladi-gallery-control-item {
        width: 80px;
        height: 80px;
        margin-right: 5px;
    }
    #GALLERY199 .ladi-gallery .ladi-gallery-view-item[data-index="0"] {
        background-image: url(https://kaila52.github.io/thoitrang/public/image/product/0-1.png);
    }
    #GALLERY199 .ladi-gallery .ladi-gallery-control-item[data-index="0"] {
        background-image: url("https://w.ladicdn.com/s400x400/5a0bca168b7e8089c9b713d9/6-20200907075018.png");
    }
    #GALLERY199 .ladi-gallery .ladi-gallery-view-item[data-index="1"] {
        background-image: url("https://w.ladicdn.com/s750x800/5a0bca168b7e8089c9b713d9/5-20200907075018.png");
    }
    #GALLERY199 .ladi-gallery .ladi-gallery-control-item[data-index="1"] {
        background-image: url("https://w.ladicdn.com/s400x400/5a0bca168b7e8089c9b713d9/5-20200907075018.png");
    }
    #GALLERY199 .ladi-gallery .ladi-gallery-view-item[data-index="2"] {
        background-image: url("https://w.ladicdn.com/s750x800/5a0bca168b7e8089c9b713d9/4-20200907075018.png");
    }
    #GALLERY199 .ladi-gallery .ladi-gallery-control-item[data-index="2"] {
        background-image: url("https://w.ladicdn.com/s400x400/5a0bca168b7e8089c9b713d9/4-20200907075018.png");
    }
    #GALLERY199 .ladi-gallery .ladi-gallery-view-item[data-index="3"] {
        background-image: url("https://w.ladicdn.com/s750x800/5a0bca168b7e8089c9b713d9/3-20200907075018.png");
    }
    #GALLERY199 .ladi-gallery .ladi-gallery-control-item[data-index="3"] {
        background-image: url("https://w.ladicdn.com/s400x400/5a0bca168b7e8089c9b713d9/3-20200907075018.png");
    }
    #GALLERY199 .ladi-gallery .ladi-gallery-view-item[data-index="4"] {
        background-image: url("https://w.ladicdn.com/s750x800/5a0bca168b7e8089c9b713d9/2-20200907075018.png");
    }
    #GALLERY199 .ladi-gallery .ladi-gallery-control-item[data-index="4"] {
        background-image: url("https://w.ladicdn.com/s400x400/5a0bca168b7e8089c9b713d9/2-20200907075018.png");
    }
    #GALLERY199 .ladi-gallery .ladi-gallery-view-item[data-index="5"] {
        background-image: url("https://w.ladicdn.com/s750x800/5a0bca168b7e8089c9b713d9/1-20200907075017.png");
    }
    #GALLERY199 .ladi-gallery .ladi-gallery-control-item[data-index="5"] {
        background-image: url("https://w.ladicdn.com/s400x400/5a0bca168b7e8089c9b713d9/1-20200907075017.png");
    }
    #HEADLINE231 {
        width: 246px;
        top: 17.3px;
        left: 385.963px;
    }
    #HEADLINE231>.ladi-headline {
        color: rgb(255, 255, 255);
        font-size: 25px;
        font-weight: bold;
        line-height: 1.6;
    }
    #LINE232 {
        width: 350px;
        top: 57.3px;
        left: 332.963px;
    }
    #LINE232>.ladi-line>.ladi-line-container {
        border-top: 1px solid rgb(255, 255, 255);
        border-right: 1px solid rgb(255, 255, 255);
        border-bottom: 1px solid rgb(255, 255, 255);
        border-left: 0px !important;
    }
    #LINE232>.ladi-line {
        width: 100%;
        padding: 8px 0px;
    }
    #HEADLINE233 {
        width: 451px;
        top: 74.3px;
        left: 283.463px;
    }
    #HEADLINE233>.ladi-headline {
        color: rgb(236, 255, 1);
        font-size: 22px;
        font-weight: bold;
        line-height: 1.6;
    }
    #PARAGRAPH234 {
        width: 469px;
        top: 122.3px;
        left: 245.5px;
    }
    #PARAGRAPH234>.ladi-paragraph {
        color: rgb(255, 255, 255);
        font-size: 16px;
        line-height: 1.6;
    }
    #PARAGRAPH235 {
        width: 176px;
        top: 147.3px;
        left: 385.963px;
    }
    #PARAGRAPH235>.ladi-paragraph {
        color: rgb(255, 255, 255);
        font-size: 16px;
        text-align: center;
        line-height: 1.6;
    }
    #PARAGRAPH236 {
        width: 366px;
        top: 172.3px;
        left: 290.963px;
    }
    #PARAGRAPH236>.ladi-paragraph {
        color: rgb(255, 255, 255);
        font-size: 16px;
        text-align: center;
        line-height: 1.6;
    }
    #PARAGRAPH237 {
        width: 239px;
        top: 197.3px;
        left: 361.963px;
    }
    #PARAGRAPH237>.ladi-paragraph {
        color: rgb(255, 255, 255);
        font-size: 16px;
        text-align: center;
        line-height: 1.6;
    }
    #LINE238 {
        width: 350px;
        top: 222.3px;
        left: 305px;
    }
    #LINE238>.ladi-line>.ladi-line-container {
        border-top: 1px solid rgb(255, 255, 255);
        border-right: 1px solid rgb(255, 255, 255);
        border-bottom: 1px solid rgb(255, 255, 255);
        border-left: 0px !important;
    }
    #LINE238>.ladi-line {
        width: 100%;
        padding: 8px 0px;
    }
    #PARAGRAPH239 {
        width: 176px;
        top: 251.3px;
        left: 24px;
    }
    #PARAGRAPH239>.ladi-paragraph {
        color: rgb(255, 255, 255);
        font-size: 16px;
        text-align: center;
        line-height: 1.6;
    }
    #PARAGRAPH240 {
        width: 176px;
        top: 251.3px;
        left: 224.463px;
    }
    #PARAGRAPH240>.ladi-paragraph {
        color: rgb(255, 255, 255);
        font-size: 16px;
        text-align: center;
        line-height: 1.6;
    }
    #PARAGRAPH241 {
        width: 176px;
        top: 251.3px;
        left: 419.963px;
    }
    #PARAGRAPH241>.ladi-paragraph {
        color: rgb(255, 255, 255);
        font-size: 16px;
        text-align: center;
        line-height: 1.6;
    }
    #PARAGRAPH242 {
        width: 176px;
        top: 251.3px;
        left: 603px;
    }
    #PARAGRAPH242>.ladi-paragraph {
        color: rgb(255, 255, 255);
        font-size: 16px;
        text-align: center;
        line-height: 1.6;
    }
    #PARAGRAPH243 {
        width: 176px;
        top: 251.3px;
        left: 779px;
    }
    #PARAGRAPH243>.ladi-paragraph {
        color: rgb(255, 255, 255);
        font-size: 16px;
        text-align: center;
        line-height: 1.6;
    }
    #IMAGE244 {
        width: 142.856px;
        height: 142px;
        top: 30.3px;
        left: 47.8335px;
    }
    #IMAGE244>.ladi-image>.ladi-image-background {
        width: 142.856px;
        height: 142px;
        top: 0px;
        left: 0px;
        background-image: url("https://w.ladicdn.com/s450x450/5a0bca168b7e8089c9b713d9/logo-20200907073904.png");
    }
    #SECTION230 {
        height: 328.3px;
    }
    #SECTION230>.ladi-section-background {
        background-color: rgb(0, 0, 0);
    }
    #IMAGE246 {
        width: 98.7018px;
        height: 97px;
        top: 3.65px;
        left: 18px;
    }
    #IMAGE246>.ladi-image>.ladi-image-background {
        width: 98.7018px;
        height: 97px;
        top: 0px;
        left: 0px;
        background-image: url("https://w.ladicdn.com/s400x400/5a0bca168b7e8089c9b713d9/logo-20200907073904.png");
    }
    #PARAGRAPH247 {
        width: 126px;
        top: 34.15px;
        left: 563.5px;
    }
    #PARAGRAPH247>.ladi-paragraph {
        color: rgb(187, 255, 1);
        font-size: 23px;
        font-weight: bold;
        line-height: 1.6;
    }
    #PARAGRAPH248 {
        width: 111px;
        top: 34.15px;
        left: 710.5px;
    }
    #PARAGRAPH248>.ladi-paragraph {
        color: rgb(187, 255, 1);
        font-size: 23px;
        font-weight: bold;
        line-height: 1.6;
    }
    #PARAGRAPH249 {
        width: 98px;
        top: 34.15px;
        left: 846.5px;
    }
    #PARAGRAPH249>.ladi-paragraph {
        color: rgb(187, 255, 1);
        font-size: 23px;
        font-weight: bold;
        line-height: 1.6;
    }
    #LINE250 {
        height: 47px;
        top: 28.65px;
        left: 682.5px;
    }
    #LINE250>.ladi-line>.ladi-line-container {
        border-top: 0px !important;
        border-right: 1px solid rgb(255, 255, 255);
        border-bottom: 1px solid rgb(255, 255, 255);
        border-left: 1px solid rgb(255, 255, 255);
    }
    #LINE250>.ladi-line {
        height: 100%;
        padding: 0px 8px;
    }
    #LINE251 {
        height: 47px;
        top: 28.65px;
        left: 821.5px;
    }
    #LINE251>.ladi-line>.ladi-line-container {
        border-top: 0px !important;
        border-right: 1px solid rgb(255, 255, 255);
        border-bottom: 1px solid rgb(255, 255, 255);
        border-left: 1px solid rgb(255, 255, 255);
    }
    #LINE251>.ladi-line {
        height: 100%;
        padding: 0px 8px;
    }
    #SECTION245 {
        height: 104.3px;
    }
    #SECTION245>.ladi-section-background {
        background-color: rgb(0, 0, 0);
    }
}

@media (max-width: 767px) {
    #SECTION_POPUP {
        height: 0px;
    }
    #SECTION2 {
        height: 892.83px;
    }
    #PARAGRAPH100 {
        width: 397px;
        top: 9.764px;
        left: 13.5px;
    }
    #PARAGRAPH100>.ladi-paragraph {
        color: rgb(0, 0, 0);
        font-size: 24px;
        font-weight: bold;
        line-height: 1.6;
    }
    #HEADLINE101 {
        width: 104px;
        top: 515.764px;
        left: 76.5px;
    }
    #HEADLINE101>.ladi-headline {
        text-decoration-line: line-through;
        -webkit-text-decoration-line: line-through;
        color: rgb(0, 0, 0);
        font-size: 19px;
        line-height: 1.6;
    }
    #PARAGRAPH103 {
        width: 146px;
        top: 507.764px;
        left: 205.5px;
    }
    #PARAGRAPH103>.ladi-paragraph {
        color: rgb(255, 1, 1);
        font-size: 29px;
        font-weight: bold;
        line-height: 1.6;
    }
    #PARAGRAPH104 {
        width: 142px;
        top: 553.764px;
        left: 19px;
    }
    #PARAGRAPH104>.ladi-paragraph {
        color: rgb(0, 0, 0);
        font-size: 16px;
        line-height: 1.6;
    }
    #LIST_PARAGRAPH105 {
        width: 400px;
        top: 578.764px;
        left: 6.839px;
    }
    #LIST_PARAGRAPH105>.ladi-list-paragraph {
        color: rgb(0, 0, 0);
        font-size: 16px;
        line-height: 1.6;
    }
    #LIST_PARAGRAPH105 ul li {
        padding-left: 20px;
    }
    #LIST_PARAGRAPH105 ul li:before {
        content: counter(linum, disc);
        font-size: 40px;
        top: -20px;
    }
    #BUTTON_TEXT106 {
        width: 172px;
        top: 9px;
        left: 0px;
    }
    #BUTTON_TEXT106>.ladi-headline {
        color: rgb(255, 255, 255);
        font-size: 16px;
        text-align: center;
        line-height: 1.6;
    }
    #BUTTON106 {
        width: 172px;
        height: 40px;
        top: 846.83px;
        left: 124px;
    }
    #BUTTON106>.ladi-button>.ladi-button-background {
        background-color: rgb(255, 1, 1);
    }
    #BUTTON106>.ladi-button {
        border-radius: 11px;
    }
    #IMAGE108 {
        width: 311.908px;
        height: 54.064px;
        top: 765.764px;
        left: 50.885px;
    }
    #IMAGE108>.ladi-image>.ladi-image-background {
        width: 311.908px;
        height: 54.064px;
        top: 0px;
        left: 0px;
        background-image: url("https://w.ladicdn.com/s650x400/5a0bca168b7e8089c9b713d9/3-20200904073124.png");
    }
    #PARAGRAPH109 {
        width: 176px;
        top: 816.135px;
        left: 11px;
    }
    #PARAGRAPH109>.ladi-paragraph {
        color: rgb(0, 0, 0);
        font-size: 16px;
        line-height: 1.6;
    }
    #PARAGRAPH110 {
        width: 213px;
        top: 816.135px;
        left: 210.147px;
    }
    #PARAGRAPH110>.ladi-paragraph {
        color: rgb(0, 0, 0);
        font-size: 16px;
        line-height: 1.6;
    }
    #PARAGRAPH111 {
        width: 30px;
        top: 816.135px;
        left: 187px;
    }
    #PARAGRAPH111>.ladi-paragraph {
        color: rgb(0, 0, 0);
        font-size: 16px;
        line-height: 1.6;
    }
    #PARAGRAPH114 {
        width: 176px;
        top: 737.777px;
        left: 23.4634px;
    }
    #PARAGRAPH114>.ladi-paragraph {
        color: rgb(0, 0, 0);
        font-size: 18px;
        font-weight: bold;
        line-height: 1.6;
    }
    #PARAGRAPH115 {
        width: 188px;
        top: 737.777px;
        left: 235.147px;
    }
    #PARAGRAPH115>.ladi-paragraph {
        color: rgb(0, 0, 0);
        font-size: 17px;
        font-weight: bold;
        line-height: 1.6;
    }
    #SHAPE116 {
        width: 29.6632px;
        height: 31.736px;
        top: 737.777px;
        left: 205.484px;
    }
    #SHAPE116 svg:last-child {
        fill: rgba(16, 145, 33, 1.0);
    }
    #SHAPE117 {
        width: 23.4634px;
        height: 26.736px;
        top: 737.777px;
        left: 0px;
    }
    #SHAPE117 svg:last-child {
        fill: rgba(255, 1, 1, 1.0);
    }
    #SECTION118 {
        height: 1499.89px;
    }
    #IMAGE119 {
        width: 234.067px;
        height: 169.887px;
        top: 582.817px;
        left: 92.9665px;
    }
    #IMAGE119>.ladi-image>.ladi-image-background {
        width: 234.067px;
        height: 169.887px;
        top: 0px;
        left: 0px;
        background-image: url("https://w.ladicdn.com/s550x500/5a0bca168b7e8089c9b713d9/1-20200907075017.png");
    }
    #IMAGE120 {
        width: 218px;
        height: 164.425px;
        top: 1078.7px;
        left: 100.25px;
    }
    #IMAGE120>.ladi-image>.ladi-image-background {
        width: 218px;
        height: 164.425px;
        top: 0px;
        left: 0px;
        background-image: url("https://w.ladicdn.com/s550x500/5a0bca168b7e8089c9b713d9/2-20200907075018.png");
    }
    #IMAGE121 {
        width: 225.603px;
        height: 164.425px;
        top: 875.129px;
        left: 97.1985px;
    }
    #IMAGE121>.ladi-image>.ladi-image-background {
        width: 225.603px;
        height: 164.425px;
        top: 0px;
        left: 0px;
        background-image: url("https://w.ladicdn.com/s550x500/5a0bca168b7e8089c9b713d9/3-20200907075018.png");
    }
    #IMAGE122 {
        width: 217.492px;
        height: 146.332px;
        top: 340.485px;
        left: 101.254px;
    }
    #IMAGE122>.ladi-image>.ladi-image-background {
        width: 217.492px;
        height: 189.124px;
        top: 0px;
        left: 0px;
        background-image: url("https://w.ladicdn.com/s550x500/5a0bca168b7e8089c9b713d9/4-20200907075018.png");
    }
    #IMAGE123 {
        width: 221.529px;
        height: 155.485px;
        top: 66px;
        left: 99.2355px;
    }
    #IMAGE123>.ladi-image>.ladi-image-background {
        width: 221.529px;
        height: 164.638px;
        top: 0px;
        left: 0px;
        background-image: url("https://w.ladicdn.com/s550x500/5a0bca168b7e8089c9b713d9/5-20200907075018.png");
    }
    #IMAGE124 {
        width: 219.5px;
        height: 146.333px;
        top: 1282.55px;
        left: 99.5px;
    }
    #IMAGE124>.ladi-image>.ladi-image-background {
        width: 219.5px;
        height: 146.333px;
        top: 0px;
        left: 0px;
        background-image: url("https://w.ladicdn.com/s550x450/5a0bca168b7e8089c9b713d9/6-20200907075018.png");
    }
    #PARAGRAPH125 {
        width: 207px;
        top: 236.817px;
        left: 110.5px;
    }
    #PARAGRAPH125>.ladi-paragraph {
        color: rgb(0, 0, 0);
        font-size: 16px;
        text-align: justify;
        line-height: 1.6;
    }
    #PARAGRAPH126 {
        width: 207px;
        top: 762.55px;
        left: 106.5px;
    }
    #PARAGRAPH126>.ladi-paragraph {
        color: rgb(0, 0, 0);
        font-size: 16px;
        text-align: justify;
        line-height: 1.6;
    }
    #PARAGRAPH127 {
        width: 207px;
        top: 497.817px;
        left: 106.5px;
    }
    #PARAGRAPH127>.ladi-paragraph {
        color: rgb(0, 0, 0);
        font-size: 16px;
        text-align: justify;
        line-height: 1.6;
    }
    #PARAGRAPH128 {
        width: 207px;
        top: 1249.13px;
        left: 106.5px;
    }
    #PARAGRAPH128>.ladi-paragraph {
        color: rgb(0, 0, 0);
        font-size: 16px;
        text-align: justify;
        line-height: 1.6;
    }
    #PARAGRAPH129 {
        width: 207px;
        top: 1436.13px;
        left: 106.5px;
    }
    #PARAGRAPH129>.ladi-paragraph {
        color: rgb(0, 0, 0);
        font-size: 16px;
        text-align: justify;
        line-height: 1.6;
    }
    #PARAGRAPH130 {
        width: 168px;
        top: 1048.13px;
        left: 126px;
    }
    #PARAGRAPH130>.ladi-paragraph {
        color: rgb(0, 0, 0);
        font-size: 16px;
        text-align: center;
        line-height: 1.6;
    }
    #HEADLINE131 {
        width: 329px;
        top: 10px;
        left: 45.5px;
    }
    #HEADLINE131>.ladi-headline {
        color: rgb(0, 0, 0);
        font-size: 29px;
        line-height: 1.6;
    }
    #HEADLINE145 {
        width: 329px;
        top: 10px;
        left: 45.5px;
    }
    #HEADLINE145>.ladi-headline {
        color: rgb(0, 0, 0);
        font-size: 29px;
        line-height: 1.6;
    }
    #SECTION132 {
        height: 1417.17px;
    }
    #PARAGRAPH146 {
        width: 400px;
        top: 66px;
        left: 10px;
    }
    #PARAGRAPH146>.ladi-paragraph {
        color: rgb(0, 0, 0);
        font-size: 16px;
        text-align: justify;
        line-height: 1.6;
    }
    #IMAGE147 {
        width: 246.216px;
        height: 182.985px;
        top: 403.602px;
        left: 86.892px;
    }
    #IMAGE147>.ladi-image>.ladi-image-background {
        width: 246.216px;
        height: 182.985px;
        top: 0px;
        left: 0px;
        background-image: url("https://w.ladicdn.com/s550x500/5a0bca168b7e8089c9b713d9/6-20200907075018.png");
    }
    #IMAGE148 {
        width: 222.576px;
        height: 182.985px;
        top: 990.59px;
        left: 98.712px;
    }
    #IMAGE148>.ladi-image>.ladi-image-background {
        width: 222.576px;
        height: 182.985px;
        top: 0px;
        left: 0px;
        background-image: url("https://w.ladicdn.com/s550x500/5a0bca168b7e8089c9b713d9/1-20200907075017.png");
    }
    #IMAGE149 {
        width: 230.919px;
        height: 167.602px;
        top: 226px;
        left: 94.5405px;
    }
    #IMAGE149>.ladi-image>.ladi-image-background {
        width: 230.919px;
        height: 167.602px;
        top: 0px;
        left: 0px;
        background-image: url("https://w.ladicdn.com/s550x500/5a0bca168b7e8089c9b713d9/2-20200907075018.png");
    }
    #IMAGE150 {
        width: 222.576px;
        height: 167.602px;
        top: 1192.57px;
        left: 98.712px;
    }
    #IMAGE150>.ladi-image>.ladi-image-background {
        width: 222.576px;
        height: 167.602px;
        top: 0px;
        left: 0px;
        background-image: url("https://w.ladicdn.com/s550x500/5a0bca168b7e8089c9b713d9/3-20200907075018.png");
    }
    #PARAGRAPH151 {
        width: 400px;
        top: 596.587px;
        left: 10px;
    }
    #PARAGRAPH151>.ladi-paragraph {
        color: rgb(0, 0, 0);
        font-size: 16px;
        text-align: justify;
        line-height: 1.6;
    }
    #PARAGRAPH170 {
        width: 315px;
        top: 0px;
        left: 43.202px;
    }
    #PARAGRAPH170>.ladi-paragraph {
        color: rgb(0, 0, 0);
        font-size: 18px;
        font-weight: bold;
        line-height: 1.6;
    }
    #IMAGE171 {
        width: 401.405px;
        height: 49.764px;
        top: 28px;
        left: 0px;
    }
    #IMAGE171>.ladi-image>.ladi-image-background {
        width: 402.405px;
        height: 49.764px;
        top: 0px;
        left: 0px;
        background-image: url("https://w.ladicdn.com/s750x350/5a0bca168b7e8089c9b713d9/2-20200904072325.png");
    }
    #BUTTON_TEXT172 {
        width: 172px;
        top: 9px;
        left: 0px;
    }
    #BUTTON_TEXT172>.ladi-headline {
        color: rgb(255, 255, 255);
        font-size: 16px;
        text-align: center;
        line-height: 1.6;
    }
    #BUTTON172 {
        width: 172px;
        height: 40px;
        top: 80px;
        left: 114.702px;
    }
    #BUTTON172>.ladi-button>.ladi-button-background {
        background-color: rgb(255, 1, 1);
    }
    #BUTTON172>.ladi-button {
        border-radius: 11px;
    }
    #SECTION169 {
        height: 134.08px;
    }
    #BOX174 {
        width: 401.405px;
        height: 126.425px;
        top: 0px;
        left: 0px;
    }
    #BOX174>.ladi-box {
        background-color: rgb(255, 255, 255);
        border-radius: 12px;
    }
    #GROUP175 {
        width: 401.405px;
        height: 126.425px;
        top: 3.8275px;
        left: 8px;
    }
    #GALLERY199 {
        width: 420px;
        height: 450px;
        top: 57.764px;
        left: 0px;
    }
    #GALLERY199>.ladi-gallery>.ladi-gallery-view {
        height: calc(100% - 85px);
    }
    #GALLERY199>.ladi-gallery>.ladi-gallery-control {
        height: 80px;
    }
    #GALLERY199>.ladi-gallery>.ladi-gallery-control>.ladi-gallery-control-box>.ladi-gallery-control-item {
        width: 80px;
        height: 80px;
        margin-right: 5px;
    }
    #GALLERY199 .ladi-gallery .ladi-gallery-view-item[data-index="0"] {
        background-image: url(https://kaila52.github.io/thoitrang/public/image/product/0-1.png);
    }
    #GALLERY199 .ladi-gallery .ladi-gallery-control-item[data-index="0"] {
        background-image: url("https://w.ladicdn.com/s400x400/5a0bca168b7e8089c9b713d9/6-20200907075018.png");
    }
    #GALLERY199 .ladi-gallery .ladi-gallery-view-item[data-index="1"] {
        background-image: url("https://w.ladicdn.com/s750x800/5a0bca168b7e8089c9b713d9/5-20200907075018.png");
    }
    #GALLERY199 .ladi-gallery .ladi-gallery-control-item[data-index="1"] {
        background-image: url("https://w.ladicdn.com/s400x400/5a0bca168b7e8089c9b713d9/5-20200907075018.png");
    }
    #GALLERY199 .ladi-gallery .ladi-gallery-view-item[data-index="2"] {
        background-image: url("https://w.ladicdn.com/s750x800/5a0bca168b7e8089c9b713d9/4-20200907075018.png");
    }
    #GALLERY199 .ladi-gallery .ladi-gallery-control-item[data-index="2"] {
        background-image: url("https://w.ladicdn.com/s400x400/5a0bca168b7e8089c9b713d9/4-20200907075018.png");
    }
    #GALLERY199 .ladi-gallery .ladi-gallery-view-item[data-index="3"] {
        background-image: url("https://w.ladicdn.com/s750x800/5a0bca168b7e8089c9b713d9/3-20200907075018.png");
    }
    #GALLERY199 .ladi-gallery .ladi-gallery-control-item[data-index="3"] {
        background-image: url("https://w.ladicdn.com/s400x400/5a0bca168b7e8089c9b713d9/3-20200907075018.png");
    }
    #GALLERY199 .ladi-gallery .ladi-gallery-view-item[data-index="4"] {
        background-image: url("https://w.ladicdn.com/s750x800/5a0bca168b7e8089c9b713d9/2-20200907075018.png");
    }
    #GALLERY199 .ladi-gallery .ladi-gallery-control-item[data-index="4"] {
        background-image: url("https://w.ladicdn.com/s400x400/5a0bca168b7e8089c9b713d9/2-20200907075018.png");
    }
    #GALLERY199 .ladi-gallery .ladi-gallery-view-item[data-index="5"] {
        background-image: url("https://w.ladicdn.com/s750x800/5a0bca168b7e8089c9b713d9/1-20200907075017.png");
    }
    #GALLERY199 .ladi-gallery .ladi-gallery-control-item[data-index="5"] {
        background-image: url("https://w.ladicdn.com/s400x400/5a0bca168b7e8089c9b713d9/1-20200907075017.png");
    }
    #HEADLINE231 {
        width: 246px;
        top: 108px;
        left: 82px;
    }
    #HEADLINE231>.ladi-headline {
        color: rgb(255, 255, 255);
        font-size: 25px;
        font-weight: bold;
        line-height: 1.6;
    }
    #LINE232 {
        width: 350px;
        top: 148px;
        left: 35px;
    }
    #LINE232>.ladi-line>.ladi-line-container {
        border-top: 1px solid rgb(255, 255, 255);
        border-right: 1px solid rgb(255, 255, 255);
        border-bottom: 1px solid rgb(255, 255, 255);
        border-left: 0px !important;
    }
    #LINE232>.ladi-line {
        width: 100%;
        padding: 8px 0px;
    }
    #HEADLINE233 {
        width: 400px;
        top: 165px;
        left: 10px;
    }
    #HEADLINE233>.ladi-headline {
        color: rgb(236, 255, 1);
        font-size: 22px;
        font-weight: bold;
        text-align: center;
        line-height: 1.6;
    }
    #PARAGRAPH234 {
        width: 400px;
        top: 235px;
        left: 18px;
    }
    #PARAGRAPH234>.ladi-paragraph {
        color: rgb(255, 255, 255);
        font-size: 16px;
        line-height: 1.6;
    }
    #PARAGRAPH235 {
        width: 176px;
        top: 262px;
        left: 10.7305px;
    }
    #PARAGRAPH235>.ladi-paragraph {
        color: rgb(255, 255, 255);
        font-size: 16px;
        text-align: center;
        line-height: 1.6;
    }
    #PARAGRAPH236 {
        width: 240px;
        top: 291px;
        left: 12.7305px;
    }
    #PARAGRAPH236>.ladi-paragraph {
        color: rgb(255, 255, 255);
        font-size: 16px;
        text-align: center;
        line-height: 1.6;
    }
    #PARAGRAPH237 {
        width: 237px;
        top: 324.5px;
        left: 10px;
    }
    #PARAGRAPH237>.ladi-paragraph {
        color: rgb(255, 255, 255);
        font-size: 16px;
        text-align: center;
        line-height: 1.6;
    }
    #LINE238 {
        width: 350px;
        top: 349.501px;
        left: 35px;
    }
    #LINE238>.ladi-line>.ladi-line-container {
        border-top: 1px solid rgb(255, 255, 255);
        border-right: 1px solid rgb(255, 255, 255);
        border-bottom: 1px solid rgb(255, 255, 255);
        border-left: 0px !important;
    }
    #LINE238>.ladi-line {
        width: 100%;
        padding: 8px 0px;
    }
    #PARAGRAPH239 {
        width: 176px;
        top: 375.501px;
        left: 18px;
    }
    #PARAGRAPH239>.ladi-paragraph {
        color: rgb(255, 255, 255);
        font-size: 16px;
        text-align: center;
        line-height: 1.6;
    }
    #PARAGRAPH240 {
        width: 176px;
        top: 457.501px;
        left: 122px;
    }
    #PARAGRAPH240>.ladi-paragraph {
        color: rgb(255, 255, 255);
        font-size: 16px;
        text-align: center;
        line-height: 1.6;
    }
    #PARAGRAPH241 {
        width: 176px;
        top: 413.501px;
        left: 234px;
    }
    #PARAGRAPH241>.ladi-paragraph {
        color: rgb(255, 255, 255);
        font-size: 16px;
        text-align: center;
        line-height: 1.6;
    }
    #PARAGRAPH242 {
        width: 176px;
        top: 413.501px;
        left: 10px;
    }
    #PARAGRAPH242>.ladi-paragraph {
        color: rgb(255, 255, 255);
        font-size: 16px;
        text-align: center;
        line-height: 1.6;
    }
    #PARAGRAPH243 {
        width: 176px;
        top: 375.501px;
        left: 226px;
    }
    #PARAGRAPH243>.ladi-paragraph {
        color: rgb(255, 255, 255);
        font-size: 16px;
        text-align: center;
        line-height: 1.6;
    }
    #IMAGE244 {
        width: 116.798px;
        height: 109px;
        top: 7px;
        left: 151.37px;
    }
    #IMAGE244>.ladi-image>.ladi-image-background {
        width: 116.798px;
        height: 109px;
        top: 0px;
        left: 0px;
        background-image: url("https://w.ladicdn.com/s450x450/5a0bca168b7e8089c9b713d9/logo-20200907073904.png");
    }
    #SECTION230 {
        height: 507px;
    }
    #SECTION230>.ladi-section-background {
        background-color: rgb(0, 0, 0);
    }
    #IMAGE246 {
        width: 129.448px;
        height: 127.844px;
        top: -7px;
        left: 134px;
    }
    #IMAGE246>.ladi-image>.ladi-image-background {
        width: 129.448px;
        height: 127.844px;
        top: 0px;
        left: 0px;
        background-image: url("https://w.ladicdn.com/s450x450/5a0bca168b7e8089c9b713d9/logo-20200907073904.png");
    }
    #PARAGRAPH247 {
        width: 126px;
        top: 103px;
        left: 8px;
    }
    #PARAGRAPH247>.ladi-paragraph {
        color: rgb(187, 255, 1);
        font-size: 23px;
        font-weight: bold;
        line-height: 1.6;
    }
    #PARAGRAPH248 {
        width: 111px;
        top: 103px;
        left: 148px;
    }
    #PARAGRAPH248>.ladi-paragraph {
        color: rgb(187, 255, 1);
        font-size: 23px;
        font-weight: bold;
        line-height: 1.6;
    }
    #PARAGRAPH249 {
        width: 98px;
        top: 103px;
        left: 297px;
    }
    #PARAGRAPH249>.ladi-paragraph {
        color: rgb(187, 255, 1);
        font-size: 23px;
        font-weight: bold;
        line-height: 1.6;
    }
    #LINE250 {
        height: 47px;
        top: 97.5px;
        left: 126.5px;
    }
    #LINE250>.ladi-line>.ladi-line-container {
        border-top: 0px !important;
        border-right: 1px solid rgb(255, 255, 255);
        border-bottom: 1px solid rgb(255, 255, 255);
        border-left: 1px solid rgb(255, 255, 255);
    }
    #LINE250>.ladi-line {
        height: 100%;
        padding: 0px 8px;
    }
    #LINE251 {
        height: 47px;
        top: 97.5px;
        left: 259px;
    }
    #LINE251>.ladi-line>.ladi-line-container {
        border-top: 0px !important;
        border-right: 1px solid rgb(255, 255, 255);
        border-bottom: 1px solid rgb(255, 255, 255);
        border-left: 1px solid rgb(255, 255, 255);
    }
    #LINE251>.ladi-line {
        height: 100%;
        padding: 0px 8px;
    }
    #SECTION245 {
        height: 167px;
    }
    #SECTION245>.ladi-section-background {
        background-color: rgb(0, 0, 0);
    }
}