@media (min-width: 768px) {
    #SECTION_POPUP {
        height: 0px;
    }
    #SECTION2 {
        height: 762.9px;
    }
    #SECTION2>.ladi-section-background {
        background-color: rgb(255, 255, 255);
    }
    #BOX64 {
        width: 1322.35px;
        height: 745.661px;
        top: 14.6px;
        left: -185.675px;
    }
    #BOX64>.ladi-box {
        background-color: rgb(255, 255, 255);
        border-radius: 12px;
    }
    #BOX66 {
        width: 560.35px;
        height: 661.661px;
        top: 76.6px;
        left: -161.675px;
    }
    #BOX66>.ladi-box {
        box-shadow: 0px 15px 20px -20px #000;
        -webkit-box-shadow: 0px 15px 20px -20px #000;
        background-color: rgb(228, 228, 228);
        border-radius: 12px;
    }
    #HEADLINE67 {
        width: 151px;
        top: 28.6px;
        left: -120px;
    }
    #HEADLINE67>.ladi-headline {
        color: rgb(0, 0, 0);
        font-size: 25px;
        font-weight: bold;
        line-height: 1.6;
    }
    #HEADLINE68 {
        width: 323px;
        top: 28.6px;
        left: 54px;
    }
    #HEADLINE68>.ladi-headline {
        color: rgb(0, 0, 0);
        font-size: 25px;
        font-weight: bold;
        line-height: 1.6;
    }
    #IMAGE69 {
        width: 18.6042px;
        height: 27.5664px;
        top: 33.6px;
        left: 21.3958px;
    }
    #IMAGE69>.ladi-image>.ladi-image-background {
        width: 18.6042px;
        height: 27.5664px;
        top: 0px;
        left: 0px;
        background-image: url(../image/giohang/r.svg);
    }
    #FORM70 {
        width: 519px;
        height: 556px;
        top: 141.6px;
        left: -140px;
    }
    #FORM70>.ladi-form {
        color: rgb(0, 0, 0);
        font-size: 16px;
        line-height: 1.6;
    }
    #FORM70 .ladi-form-item .ladi-form-control::placeholder,
    #FORM70 .ladi-form .ladi-form-item .ladi-form-control-select[data-selected=""],
    #FORM70 .ladi-form .ladi-form-item.ladi-form-checkbox .ladi-form-checkbox-item span[data-checked="false"] {
        color: #000;
    }
    #FORM70 .ladi-form-item-container .ladi-form-item .ladi-form-control-select {
        background-image: url("data:image/svg+xml;utf8, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%20width%3D%2232%22%20height%3D%2224%22%20viewBox%3D%220%200%2032%2024%22%3E%3Cpolygon%20points%3D%220%2C0%2032%2C0%2016%2C24%22%20style%3D%22fill%3A%20%23000%22%3E%3C%2Fpolygon%3E%3C%2Fsvg%3E");
    }
    #FORM70 .ladi-form-item-container {
        border-style: solid;
        border-color: rgb(238, 238, 238);
        border-width: 1px;
    }
    #FORM70 .ladi-form-item-background {
        background-color: rgb(255, 255, 255);
    }
    #BUTTON71 {
        width: 192.029px;
        height: 50.2069px;
        top: 505.793px;
        left: 155.486px;
    }
    #BUTTON71>.ladi-button>.ladi-button-background {
        background-color: rgb(255, 1, 1);
    }
    #BUTTON_TEXT71 {
        width: 181px;
        top: 7.51035px;
        left: 0px;
    }
    #BUTTON_TEXT71>.ladi-headline {
        color: rgb(255, 255, 255);
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        line-height: 1.6;
    }
    #FORM_ITEM72 {
        width: 517px;
        height: 29.2069px;
        top: 0px;
        left: 0px;
    }
    #FORM_ITEM74 {
        width: 517px;
        height: 29.2069px;
        top: 36.1034px;
        left: 0px;
    }
    #FORM_ITEM75 {
        width: 517px;
        height: 63.4483px;
        top: 159.655px;
        left: 0px;
    }
    #FORM_ITEM76 {
        width: 517px;
        height: 35px;
        top: 73.655px;
        left: 0px;
    }
    #FORM_ITEM77 {
        width: 517px;
        height: 35px;
        top: 116.103px;
        left: 0px;
    }
    #FORM_ITEM78 {
        width: 519px;
        height: 82px;
        top: 267.103px;
        left: 0px;
    }
    #FORM_ITEM78 .ladi-form-checkbox-item {
        margin: 5px;
    }
    #FORM_ITEM79 {
        width: 519px;
        height: 82px;
        top: 389.85px;
        left: 0px;
    }
    #FORM_ITEM79 .ladi-form-checkbox-item {
        margin: 5px;
    }
    #HEADLINE80 {
        width: 167px;
        top: 98.1px;
        left: -137px;
    }
    #HEADLINE80>.ladi-headline {
        color: rgb(0, 0, 0);
        font-size: 18px;
        font-weight: bold;
        line-height: 1.6;
    }
    #BOX81 {
        width: 127px;
        height: 127px;
        top: 76.6px;
        left: 426px;
    }
    #BOX81>.ladi-box {
        background-size: cover;
        background-attachment: scroll;
        background-origin: content-box;
        background-image: url(../image/trangchu/shoes-1.png);
        background-position: center top;
        background-repeat: repeat;
    }
    #HEADLINE82 {
        width: 384px;
        top: 98.1px;
        left: 569.676px;
    }
    #HEADLINE82>.ladi-headline {
        color: rgb(0, 0, 0);
        font-size: 16px;
        font-weight: bold;
        line-height: 1.6;
    }
    #HEADLINE83 {
        width: 384px;
        top: 124.1px;
        left: 569.676px;
    }
    #HEADLINE83>.ladi-headline {
        text-decoration-line: line-through;
        -webkit-text-decoration-line: line-through;
        color: rgb(0, 0, 0);
        font-size: 16px;
        line-height: 1.6;
    }
    #HEADLINE84 {
        width: 384px;
        top: 151.1px;
        left: 569.676px;
    }
    #HEADLINE84>.ladi-headline {
        color: rgb(255, 1, 1);
        font-size: 16px;
        font-weight: bold;
        line-height: 1.6;
    }
    #HEADLINE85 {
        width: 151px;
        top: 233.1px;
        left: 426px;
    }
    #HEADLINE85>.ladi-headline {
        color: rgb(0, 0, 0);
        font-size: 16px;
        line-height: 1.6;
    }
    #HEADLINE86 {
        width: 535px;
        top: 299.765px;
        left: 426px;
    }
    #HEADLINE86>.ladi-headline {
        color: rgb(0, 0, 0);
        font-size: 16px;
        font-style: italic;
        line-height: 1.6;
    }
    #HEADLINE87 {
        width: 308px;
        top: 363.765px;
        left: 447px;
    }
    #HEADLINE87>.ladi-headline {
        color: rgb(0, 0, 0);
        font-size: 16px;
        line-height: 1.6;
    }
    #HEADLINE88 {
        width: 308px;
        top: 395.095px;
        left: 447px;
    }
    #HEADLINE88>.ladi-headline {
        color: rgb(0, 0, 0);
        font-size: 16px;
        line-height: 1.6;
    }
    #HEADLINE89 {
        width: 308px;
        top: 427.095px;
        left: 447px;
    }
    #HEADLINE89>.ladi-headline {
        color: rgb(0, 0, 0);
        font-size: 16px;
        line-height: 1.6;
    }
    #HEADLINE90 {
        width: 308px;
        top: 459.095px;
        left: 447px;
    }
    #HEADLINE90>.ladi-headline {
        color: rgb(0, 0, 0);
        font-size: 16px;
        line-height: 1.6;
    }
    #HEADLINE91 {
        width: 308px;
        top: 489.095px;
        left: 447px;
    }
    #HEADLINE91>.ladi-headline {
        color: rgb(0, 0, 0);
        font-size: 16px;
        line-height: 1.6;
    }
    #HEADLINE92 {
        width: 429px;
        top: 552.1px;
        left: 426px;
    }
    #HEADLINE92>.ladi-headline {
        color: rgb(0, 0, 0);
        font-size: 18px;
        font-weight: bold;
        line-height: 1.6;
    }
    #HEADLINE93 {
        width: 384px;
        top: 598.1px;
        left: 426px;
    }
    #HEADLINE93>.ladi-headline {
        color: rgb(0, 0, 0);
        font-size: 16px;
        font-weight: bold;
        line-height: 1.6;
    }
    #IMAGE94 {
        width: 446.519px;
        height: 47.0938px;
        top: 633.506px;
        left: 426px;
    }
    #IMAGE94>.ladi-image>.ladi-image-background {
        width: 446.519px;
        height: 47.0938px;
        top: 0px;
        left: 0px;
        background-image: url(../image/giohang/trust-symbols.jpg);
    }
    #LINE95 {
        width: 535px;
        top: 521.45px;
        left: 426px;
    }
    #LINE95>.ladi-line>.ladi-line-container {
        border-top: 1px solid rgb(0, 0, 0);
        border-right: 1px solid rgb(0, 0, 0);
        border-bottom: 1px solid rgb(0, 0, 0);
        border-left: 0px !important;
    }
    #LINE95>.ladi-line {
        width: 100%;
        padding: 8px 0px;
    }
    #HEADLINE96 {
        width: 384px;
        top: 259.1px;
        left: 471px;
    }
    #HEADLINE96>.ladi-headline {
        color: rgb(255, 1, 1);
        font-size: 26px;
        font-weight: bold;
        font-style: italic;
        line-height: 1.6;
    }
    #BOX97 {
        width: 17.5px;
        height: 17.5px;
        top: 368.015px;
        left: 426px;
    }
    #BOX97>.ladi-box {
        background-color: rgb(255, 255, 255);
        border-style: solid;
        border-color: rgb(48, 202, 232);
        border-width: 1px;
        border-radius: 100px;
    }
    #BOX98 {
        width: 17.5px;
        height: 17.5px;
        top: 399.345px;
        left: 426px;
    }
    #BOX98>.ladi-box {
        background-color: rgb(255, 255, 255);
        border-style: solid;
        border-color: rgb(48, 202, 232);
        border-width: 1px;
        border-radius: 100px;
    }
    #BOX99 {
        width: 17.5px;
        height: 17.5px;
        top: 431.345px;
        left: 426px;
    }
    #BOX99>.ladi-box {
        background-color: rgb(255, 255, 255);
        border-style: solid;
        border-color: rgb(48, 202, 232);
        border-width: 1px;
        border-radius: 100px;
    }
    #BOX100 {
        width: 17.5px;
        height: 17.5px;
        top: 463.345px;
        left: 426px;
    }
    #BOX100>.ladi-box {
        background-color: rgb(255, 255, 255);
        border-style: solid;
        border-color: rgb(48, 202, 232);
        border-width: 1px;
        border-radius: 100px;
    }
    #BOX101 {
        width: 17.5px;
        height: 17.5px;
        top: 493.345px;
        left: 426px;
    }
    #BOX101>.ladi-box {
        background-color: rgb(255, 255, 255);
        border-style: solid;
        border-color: rgb(48, 202, 232);
        border-width: 1px;
        border-radius: 100px;
    }
    #HEADLINE102 {
        width: 240px;
        top: 374.93px;
        left: -138px;
    }
    #HEADLINE102>.ladi-headline {
        color: rgb(0, 0, 0);
        font-size: 16px;
        font-weight: bold;
        line-height: 1.6;
    }
    #HEADLINE103 {
        width: 231px;
        top: 498.45px;
        left: -138px;
    }
    #HEADLINE103>.ladi-headline {
        color: rgb(0, 0, 0);
        font-size: 16px;
        font-weight: bold;
        line-height: 1.6;
    }
    #IMAGE164 {
        width: 98.7018px;
        height: 97px;
        top: 3.65px;
        left: 18px;
    }
    #IMAGE164>.ladi-image>.ladi-image-background {
        width: 98.7018px;
        height: 97px;
        top: 0px;
        left: 0px;
        background-image: url(../image/trangchu/logo.png);
    }
    #PARAGRAPH165 {
        width: 126px;
        top: 34.15px;
        left: 563.5px;
    }
    #PARAGRAPH165>.ladi-paragraph {
        color: rgb(187, 255, 1);
        font-size: 23px;
        font-weight: bold;
        line-height: 1.6;
    }
    #PARAGRAPH166 {
        width: 128px;
        top: 34.15px;
        left: 699.5px;
    }
    #PARAGRAPH166>.ladi-paragraph {
        color: rgb(187, 255, 1);
        font-size: 23px;
        font-weight: bold;
        line-height: 1.6;
    }
    #PARAGRAPH167 {
        width: 98px;
        top: 34.15px;
        left: 846.5px;
    }
    #PARAGRAPH167>.ladi-paragraph {
        color: rgb(187, 255, 1);
        font-size: 23px;
        font-weight: bold;
        line-height: 1.6;
    }
    #LINE168 {
        height: 47px;
        top: 28.65px;
        left: 682.5px;
    }
    #LINE168>.ladi-line>.ladi-line-container {
        border-top: 0px !important;
        border-right: 1px solid rgb(255, 255, 255);
        border-bottom: 1px solid rgb(255, 255, 255);
        border-left: 1px solid rgb(255, 255, 255);
    }
    #LINE168>.ladi-line {
        height: 100%;
        padding: 0px 8px;
    }
    #LINE169 {
        height: 47px;
        top: 28.65px;
        left: 821.5px;
    }
    #LINE169>.ladi-line>.ladi-line-container {
        border-top: 0px !important;
        border-right: 1px solid rgb(255, 255, 255);
        border-bottom: 1px solid rgb(255, 255, 255);
        border-left: 1px solid rgb(255, 255, 255);
    }
    #LINE169>.ladi-line {
        height: 100%;
        padding: 0px 8px;
    }
    #SECTION163 {
        height: 104.3px;
    }
    #SECTION163>.ladi-section-background {
        background-color: rgb(0, 0, 0);
    }
    #HEADLINE171 {
        width: 246px;
        top: 17.3px;
        left: 385.963px;
    }
    #HEADLINE171>.ladi-headline {
        color: rgb(255, 255, 255);
        font-size: 25px;
        font-weight: bold;
        line-height: 1.6;
    }
    #LINE172 {
        width: 350px;
        top: 57.3px;
        left: 332.963px;
    }
    #LINE172>.ladi-line>.ladi-line-container {
        border-top: 1px solid rgb(255, 255, 255);
        border-right: 1px solid rgb(255, 255, 255);
        border-bottom: 1px solid rgb(255, 255, 255);
        border-left: 0px !important;
    }
    #LINE172>.ladi-line {
        width: 100%;
        padding: 8px 0px;
    }
    #HEADLINE173 {
        width: 451px;
        top: 74.3px;
        left: 283.463px;
    }
    #HEADLINE173>.ladi-headline {
        color: rgb(236, 255, 1);
        font-size: 22px;
        font-weight: bold;
        line-height: 1.6;
    }
    #PARAGRAPH174 {
        width: 469px;
        top: 122.3px;
        left: 245.5px;
    }
    #PARAGRAPH174>.ladi-paragraph {
        color: rgb(255, 255, 255);
        font-size: 16px;
        line-height: 1.6;
    }
    #PARAGRAPH175 {
        width: 176px;
        top: 147.3px;
        left: 385.963px;
    }
    #PARAGRAPH175>.ladi-paragraph {
        color: rgb(255, 255, 255);
        font-size: 16px;
        text-align: center;
        line-height: 1.6;
    }
    #PARAGRAPH176 {
        width: 366px;
        top: 172.3px;
        left: 290.963px;
    }
    #PARAGRAPH176>.ladi-paragraph {
        color: rgb(255, 255, 255);
        font-size: 16px;
        text-align: center;
        line-height: 1.6;
    }
    #PARAGRAPH177 {
        width: 239px;
        top: 197.3px;
        left: 361.963px;
    }
    #PARAGRAPH177>.ladi-paragraph {
        color: rgb(255, 255, 255);
        font-size: 16px;
        text-align: center;
        line-height: 1.6;
    }
    #LINE178 {
        width: 350px;
        top: 222.3px;
        left: 305px;
    }
    #LINE178>.ladi-line>.ladi-line-container {
        border-top: 1px solid rgb(255, 255, 255);
        border-right: 1px solid rgb(255, 255, 255);
        border-bottom: 1px solid rgb(255, 255, 255);
        border-left: 0px !important;
    }
    #LINE178>.ladi-line {
        width: 100%;
        padding: 8px 0px;
    }
    #PARAGRAPH179 {
        width: 176px;
        top: 251.3px;
        left: 24px;
    }
    #PARAGRAPH179>.ladi-paragraph {
        color: rgb(255, 255, 255);
        font-size: 16px;
        text-align: center;
        line-height: 1.6;
    }
    #PARAGRAPH180 {
        width: 176px;
        top: 251.3px;
        left: 224.463px;
    }
    #PARAGRAPH180>.ladi-paragraph {
        color: rgb(255, 255, 255);
        font-size: 16px;
        text-align: center;
        line-height: 1.6;
    }
    #PARAGRAPH181 {
        width: 176px;
        top: 251.3px;
        left: 419.963px;
    }
    #PARAGRAPH181>.ladi-paragraph {
        color: rgb(255, 255, 255);
        font-size: 16px;
        text-align: center;
        line-height: 1.6;
    }
    #PARAGRAPH182 {
        width: 176px;
        top: 251.3px;
        left: 603px;
    }
    #PARAGRAPH182>.ladi-paragraph {
        color: rgb(255, 255, 255);
        font-size: 16px;
        text-align: center;
        line-height: 1.6;
    }
    #PARAGRAPH183 {
        width: 176px;
        top: 251.3px;
        left: 779px;
    }
    #PARAGRAPH183>.ladi-paragraph {
        color: rgb(255, 255, 255);
        font-size: 16px;
        text-align: center;
        line-height: 1.6;
    }
    #IMAGE184 {
        width: 142.856px;
        height: 142px;
        top: 30.3px;
        left: 47.8335px;
    }
    #IMAGE184>.ladi-image>.ladi-image-background {
        width: 142.856px;
        height: 142px;
        top: 0px;
        left: 0px;
        background-image: url(../image/trangchu/logo.png);
    }
    #SECTION170 {
        height: 328.3px;
    }
    #SECTION170>.ladi-section-background {
        background-color: rgb(0, 0, 0);
    }
}

@media (max-width: 767px) {
    #SECTION_POPUP {
        height: 0px;
    }
    #SECTION2 {
        height: 1245.71px;
    }
    #SECTION2>.ladi-section-background {
        background-color: rgb(255, 255, 255);
    }
    #BOX64 {
        width: 400px;
        height: 225.556px;
        top: 276.44px;
        left: 61px;
    }
    #BOX64>.ladi-box {
        background-color: rgb(255, 255, 255);
        border-radius: 12px;
    }
    #BOX66 {
        width: 400px;
        height: 613.32px;
        top: 264.123px;
        left: 10px;
    }
    #BOX66>.ladi-box {
        box-shadow: 0px 15px 20px -20px #000;
        -webkit-box-shadow: 0px 15px 20px -20px #000;
        background-color: rgb(228, 228, 228);
        border-radius: 12px;
    }
    #HEADLINE67 {
        width: 151px;
        top: 18.5563px;
        left: 10px;
    }
    #HEADLINE67>.ladi-headline {
        color: rgb(0, 0, 0);
        font-size: 18px;
        font-weight: bold;
        line-height: 1.6;
    }
    #HEADLINE68 {
        width: 323px;
        top: 18.5563px;
        left: 134px;
    }
    #HEADLINE68>.ladi-headline {
        color: rgb(0, 0, 0);
        font-size: 18px;
        font-weight: bold;
        line-height: 1.6;
    }
    #IMAGE69 {
        width: 18.6042px;
        height: 27.5664px;
        top: 18.7731px;
        left: 110.396px;
    }
    #IMAGE69>.ladi-image>.ladi-image-background {
        width: 18.6042px;
        height: 27.5664px;
        top: 0px;
        left: 0px;
        background-image: url(../image/giohang/r.svg);
    }
    #FORM70 {
        width: 361px;
        height: 545px;
        top: 312px;
        left: 29.5px;
    }
    #FORM70>.ladi-form {
        color: rgb(0, 0, 0);
        font-size: 16px;
        line-height: 1.6;
    }
    #FORM70 .ladi-form-item .ladi-form-control::placeholder,
    #FORM70 .ladi-form .ladi-form-item .ladi-form-control-select[data-selected=""],
    #FORM70 .ladi-form .ladi-form-item.ladi-form-checkbox .ladi-form-checkbox-item span[data-checked="false"] {
        color: #000;
    }
    #FORM70 .ladi-form-item-container .ladi-form-item .ladi-form-control-select {
        background-image: url("data:image/svg+xml;utf8, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%20width%3D%2232%22%20height%3D%2224%22%20viewBox%3D%220%200%2032%2024%22%3E%3Cpolygon%20points%3D%220%2C0%2032%2C0%2016%2C24%22%20style%3D%22fill%3A%20%23000%22%3E%3C%2Fpolygon%3E%3C%2Fsvg%3E");
    }
    #FORM70 .ladi-form-item-container {
        border-style: solid;
        border-color: rgb(238, 238, 238);
        border-width: 1px;
    }
    #FORM70 .ladi-form-item-background {
        background-color: rgb(255, 255, 255);
    }
    #BUTTON71 {
        width: 181.569px;
        height: 50.2069px;
        top: 494.793px;
        left: 89.02px;
    }
    #BUTTON71>.ladi-button>.ladi-button-background {
        background-color: rgb(255, 1, 1);
    }
    #BUTTON_TEXT71 {
        width: 152px;
        top: 7.51035px;
        left: 0px;
    }
    #BUTTON_TEXT71>.ladi-headline {
        color: rgb(255, 255, 255);
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        line-height: 1.6;
    }
    #FORM_ITEM72 {
        width: 359.609px;
        height: 29.2069px;
        top: 0px;
        left: 0px;
    }
    #FORM_ITEM74 {
        width: 359.609px;
        height: 29.2069px;
        top: 36.1034px;
        left: 0px;
    }
    #FORM_ITEM75 {
        width: 359.609px;
        height: 63.4483px;
        top: 159.655px;
        left: 0px;
    }
    #FORM_ITEM76 {
        width: 359.609px;
        height: 35px;
        top: 73.655px;
        left: 0px;
    }
    #FORM_ITEM77 {
        width: 359.609px;
        height: 35px;
        top: 116.103px;
        left: 0px;
    }
    #FORM_ITEM78 {
        width: 361px;
        height: 82px;
        top: 267.103px;
        left: 0px;
    }
    #FORM_ITEM78 .ladi-form-checkbox-item {
        margin: 5px;
    }
    #FORM_ITEM79 {
        width: 361px;
        height: 82px;
        top: 389.85px;
        left: 0px;
    }
    #FORM_ITEM79 .ladi-form-checkbox-item {
        margin: 5px;
    }
    #HEADLINE80 {
        width: 167px;
        top: 276.44px;
        left: 30.5px;
    }
    #HEADLINE80>.ladi-headline {
        color: rgb(0, 0, 0);
        font-size: 18px;
        font-weight: bold;
        line-height: 1.6;
    }
    #BOX81 {
        width: 127px;
        height: 127px;
        top: 59.4425px;
        left: 10px;
    }
    #BOX81>.ladi-box {
        background-size: cover;
        background-attachment: scroll;
        background-origin: content-box;
        background-image: url(../image/trangchu/shoes-1.png);
        background-position: center top;
        background-repeat: repeat;
    }
    #HEADLINE82 {
        width: 175px;
        top: 59.4425px;
        left: 148px;
    }
    #HEADLINE82>.ladi-headline {
        color: rgb(0, 0, 0);
        font-size: 16px;
        font-weight: bold;
        line-height: 1.6;
    }
    #HEADLINE83 {
        width: 272px;
        top: 113.443px;
        left: 148px;
    }
    #HEADLINE83>.ladi-headline {
        text-decoration-line: line-through;
        -webkit-text-decoration-line: line-through;
        color: rgb(0, 0, 0);
        font-size: 14px;
        line-height: 1.6;
    }
    #HEADLINE84 {
        width: 384px;
        top: 134.443px;
        left: 148px;
    }
    #HEADLINE84>.ladi-headline {
        color: rgb(255, 1, 1);
        font-size: 14px;
        font-weight: bold;
        line-height: 1.6;
    }
    #HEADLINE85 {
        width: 151px;
        top: 161.442px;
        left: 148px;
    }
    #HEADLINE85>.ladi-headline {
        color: rgb(0, 0, 0);
        font-size: 16px;
        line-height: 1.6;
    }
    #HEADLINE86 {
        width: 388px;
        top: 197.442px;
        left: 16px;
    }
    #HEADLINE86>.ladi-headline {
        color: rgb(0, 0, 0);
        font-size: 15px;
        font-style: italic;
        line-height: 1.6;
    }
    #HEADLINE87 {
        width: 308px;
        top: 901.442px;
        left: 45px;
    }
    #HEADLINE87>.ladi-headline {
        color: rgb(0, 0, 0);
        font-size: 16px;
        line-height: 1.6;
    }
    #HEADLINE88 {
        width: 308px;
        top: 930.942px;
        left: 45px;
    }
    #HEADLINE88>.ladi-headline {
        color: rgb(0, 0, 0);
        font-size: 16px;
        line-height: 1.6;
    }
    #HEADLINE89 {
        width: 308px;
        top: 960.442px;
        left: 45px;
    }
    #HEADLINE89>.ladi-headline {
        color: rgb(0, 0, 0);
        font-size: 16px;
        line-height: 1.6;
    }
    #HEADLINE90 {
        width: 308px;
        top: 988.942px;
        left: 46px;
    }
    #HEADLINE90>.ladi-headline {
        color: rgb(0, 0, 0);
        font-size: 16px;
        line-height: 1.6;
    }
    #HEADLINE91 {
        width: 308px;
        top: 1020.44px;
        left: 46px;
    }
    #HEADLINE91>.ladi-headline {
        color: rgb(0, 0, 0);
        font-size: 16px;
        line-height: 1.6;
    }
    #HEADLINE92 {
        width: 400px;
        top: 1087.94px;
        left: 18px;
    }
    #HEADLINE92>.ladi-headline {
        color: rgb(0, 0, 0);
        font-size: 18px;
        font-weight: bold;
        line-height: 1.6;
    }
    #HEADLINE93 {
        width: 384px;
        top: 1129.94px;
        left: 18px;
    }
    #HEADLINE93>.ladi-headline {
        color: rgb(0, 0, 0);
        font-size: 16px;
        font-weight: bold;
        line-height: 1.6;
    }
    #IMAGE94 {
        width: 362.074px;
        height: 38.1875px;
        top: 1169.94px;
        left: 18px;
    }
    #IMAGE94>.ladi-image>.ladi-image-background {
        width: 362.074px;
        height: 38.1875px;
        top: 0px;
        left: 0px;
        background-image: url(../image/giohang/trust-symbols.jpg);
    }
    #LINE95 {
        width: 400px;
        top: 1059.94px;
        left: 10px;
    }
    #LINE95>.ladi-line>.ladi-line-container {
        border-top: 1px solid rgb(0, 0, 0);
        border-right: 1px solid rgb(0, 0, 0);
        border-bottom: 1px solid rgb(0, 0, 0);
        border-left: 0px !important;
    }
    #LINE95>.ladi-line {
        width: 100%;
        padding: 8px 0px;
    }
    #HEADLINE96 {
        width: 384px;
        top: 150.442px;
        left: 281.292px;
    }
    #HEADLINE96>.ladi-headline {
        color: rgb(255, 1, 1);
        font-size: 26px;
        font-weight: bold;
        font-style: italic;
        line-height: 1.6;
    }
    #BOX97 {
        width: 17.5px;
        height: 17.5px;
        top: 903.442px;
        left: 24.25px;
    }
    #BOX97>.ladi-box {
        background-color: rgb(255, 255, 255);
        border-style: solid;
        border-color: rgb(48, 202, 232);
        border-width: 1px;
        border-radius: 100px;
    }
    #BOX98 {
        width: 17.5px;
        height: 17.5px;
        top: 934.692px;
        left: 24.25px;
    }
    #BOX98>.ladi-box {
        background-color: rgb(255, 255, 255);
        border-style: solid;
        border-color: rgb(48, 202, 232);
        border-width: 1px;
        border-radius: 100px;
    }
    #BOX99 {
        width: 17.5px;
        height: 17.5px;
        top: 964.192px;
        left: 24.25px;
    }
    #BOX99>.ladi-box {
        background-color: rgb(255, 255, 255);
        border-style: solid;
        border-color: rgb(48, 202, 232);
        border-width: 1px;
        border-radius: 100px;
    }
    #BOX100 {
        width: 17.5px;
        height: 17.5px;
        top: 993.692px;
        left: 24.25px;
    }
    #BOX100>.ladi-box {
        background-color: rgb(255, 255, 255);
        border-style: solid;
        border-color: rgb(48, 202, 232);
        border-width: 1px;
        border-radius: 100px;
    }
    #BOX101 {
        width: 17.5px;
        height: 17.5px;
        top: 1024.19px;
        left: 24.25px;
    }
    #BOX101>.ladi-box {
        background-color: rgb(255, 255, 255);
        border-style: solid;
        border-color: rgb(48, 202, 232);
        border-width: 1px;
        border-radius: 100px;
    }
    #HEADLINE102 {
        width: 240px;
        top: 543.942px;
        left: 31px;
    }
    #HEADLINE102>.ladi-headline {
        color: rgb(0, 0, 0);
        font-size: 16px;
        font-weight: bold;
        line-height: 1.6;
    }
    #HEADLINE103 {
        width: 231px;
        top: 668.942px;
        left: 30.5px;
    }
    #HEADLINE103>.ladi-headline {
        color: rgb(0, 0, 0);
        font-size: 16px;
        font-weight: bold;
        line-height: 1.6;
    }
    #IMAGE164 {
        width: 129.448px;
        height: 127.844px;
        top: -7px;
        left: 134px;
    }
    #IMAGE164>.ladi-image>.ladi-image-background {
        width: 129.448px;
        height: 127.844px;
        top: 0px;
        left: 0px;
        background-image: url(../image/trangchu/logo.png);
    }
    #PARAGRAPH165 {
        width: 126px;
        top: 103px;
        left: 8px;
    }
    #PARAGRAPH165>.ladi-paragraph {
        color: rgb(187, 255, 1);
        font-size: 23px;
        font-weight: bold;
        line-height: 1.6;
    }
    #PARAGRAPH166 {
        width: 111px;
        top: 103px;
        left: 148px;
    }
    #PARAGRAPH166>.ladi-paragraph {
        color: rgb(187, 255, 1);
        font-size: 23px;
        font-weight: bold;
        line-height: 1.6;
    }
    #PARAGRAPH167 {
        width: 98px;
        top: 103px;
        left: 297px;
    }
    #PARAGRAPH167>.ladi-paragraph {
        color: rgb(187, 255, 1);
        font-size: 23px;
        font-weight: bold;
        line-height: 1.6;
    }
    #LINE168 {
        height: 47px;
        top: 97.5px;
        left: 126.5px;
    }
    #LINE168>.ladi-line>.ladi-line-container {
        border-top: 0px !important;
        border-right: 1px solid rgb(255, 255, 255);
        border-bottom: 1px solid rgb(255, 255, 255);
        border-left: 1px solid rgb(255, 255, 255);
    }
    #LINE168>.ladi-line {
        height: 100%;
        padding: 0px 8px;
    }
    #LINE169 {
        height: 47px;
        top: 97.5px;
        left: 259px;
    }
    #LINE169>.ladi-line>.ladi-line-container {
        border-top: 0px !important;
        border-right: 1px solid rgb(255, 255, 255);
        border-bottom: 1px solid rgb(255, 255, 255);
        border-left: 1px solid rgb(255, 255, 255);
    }
    #LINE169>.ladi-line {
        height: 100%;
        padding: 0px 8px;
    }
    #SECTION163 {
        height: 167px;
    }
    #SECTION163>.ladi-section-background {
        background-color: rgb(0, 0, 0);
    }
    #HEADLINE171 {
        width: 246px;
        top: 108px;
        left: 82px;
    }
    #HEADLINE171>.ladi-headline {
        color: rgb(255, 255, 255);
        font-size: 25px;
        font-weight: bold;
        line-height: 1.6;
    }
    #LINE172 {
        width: 350px;
        top: 148px;
        left: 35px;
    }
    #LINE172>.ladi-line>.ladi-line-container {
        border-top: 1px solid rgb(255, 255, 255);
        border-right: 1px solid rgb(255, 255, 255);
        border-bottom: 1px solid rgb(255, 255, 255);
        border-left: 0px !important;
    }
    #LINE172>.ladi-line {
        width: 100%;
        padding: 8px 0px;
    }
    #HEADLINE173 {
        width: 400px;
        top: 165px;
        left: 10px;
    }
    #HEADLINE173>.ladi-headline {
        color: rgb(236, 255, 1);
        font-size: 22px;
        font-weight: bold;
        text-align: center;
        line-height: 1.6;
    }
    #PARAGRAPH174 {
        width: 400px;
        top: 235px;
        left: 18px;
    }
    #PARAGRAPH174>.ladi-paragraph {
        color: rgb(255, 255, 255);
        font-size: 16px;
        line-height: 1.6;
    }
    #PARAGRAPH175 {
        width: 176px;
        top: 262px;
        left: 10.7305px;
    }
    #PARAGRAPH175>.ladi-paragraph {
        color: rgb(255, 255, 255);
        font-size: 16px;
        text-align: center;
        line-height: 1.6;
    }
    #PARAGRAPH176 {
        width: 240px;
        top: 291px;
        left: 12.7305px;
    }
    #PARAGRAPH176>.ladi-paragraph {
        color: rgb(255, 255, 255);
        font-size: 16px;
        text-align: center;
        line-height: 1.6;
    }
    #PARAGRAPH177 {
        width: 237px;
        top: 324.5px;
        left: 10px;
    }
    #PARAGRAPH177>.ladi-paragraph {
        color: rgb(255, 255, 255);
        font-size: 16px;
        text-align: center;
        line-height: 1.6;
    }
    #LINE178 {
        width: 350px;
        top: 349.501px;
        left: 35px;
    }
    #LINE178>.ladi-line>.ladi-line-container {
        border-top: 1px solid rgb(255, 255, 255);
        border-right: 1px solid rgb(255, 255, 255);
        border-bottom: 1px solid rgb(255, 255, 255);
        border-left: 0px !important;
    }
    #LINE178>.ladi-line {
        width: 100%;
        padding: 8px 0px;
    }
    #PARAGRAPH179 {
        width: 176px;
        top: 375.501px;
        left: 18px;
    }
    #PARAGRAPH179>.ladi-paragraph {
        color: rgb(255, 255, 255);
        font-size: 16px;
        text-align: center;
        line-height: 1.6;
    }
    #PARAGRAPH180 {
        width: 176px;
        top: 457.501px;
        left: 122px;
    }
    #PARAGRAPH180>.ladi-paragraph {
        color: rgb(255, 255, 255);
        font-size: 16px;
        text-align: center;
        line-height: 1.6;
    }
    #PARAGRAPH181 {
        width: 176px;
        top: 413.501px;
        left: 234px;
    }
    #PARAGRAPH181>.ladi-paragraph {
        color: rgb(255, 255, 255);
        font-size: 16px;
        text-align: center;
        line-height: 1.6;
    }
    #PARAGRAPH182 {
        width: 176px;
        top: 413.501px;
        left: 10px;
    }
    #PARAGRAPH182>.ladi-paragraph {
        color: rgb(255, 255, 255);
        font-size: 16px;
        text-align: center;
        line-height: 1.6;
    }
    #PARAGRAPH183 {
        width: 176px;
        top: 375.501px;
        left: 226px;
    }
    #PARAGRAPH183>.ladi-paragraph {
        color: rgb(255, 255, 255);
        font-size: 16px;
        text-align: center;
        line-height: 1.6;
    }
    #IMAGE184 {
        width: 116.798px;
        height: 109px;
        top: 7px;
        left: 151.37px;
    }
    #IMAGE184>.ladi-image>.ladi-image-background {
        width: 116.798px;
        height: 109px;
        top: 0px;
        left: 0px;
        background-image: url(../image/trangchu/logo.png);
    }
    #SECTION170 {
        height: 507px;
    }
    #SECTION170>.ladi-section-background {
        background-color: rgb(0, 0, 0);
    }
}