@media (min-width: 768px) {
    #SECTION_POPUP {
        height: 0px;
    }
    #SECTION1 {
        height: 111.4px;
    }
    #SECTION1>.ladi-section-background {
        background-color: rgb(0, 0, 0);
    }
    #SECTION2 {
        height: 57.1441px;
    }
    #SECTION4 {
        height: 549.4px;
    }
    #SECTION4>.ladi-section-background {
        background-size: cover;
        background-attachment: scroll;
        background-origin: content-box;
        background-image: url(../image/trangchu/bg-white.png);
        background-position: center top;
        background-repeat: repeat;
    }
    #HEADLINE5 {
        width: 150px;
        top: 3.5px;
        left: 0px;
    }
    #HEADLINE5>.ladi-headline {
        color: rgb(234, 212, 29);
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        line-height: 1.6;
    }
    #HEADLINE6 {
        width: 150px;
        top: 3.5px;
        left: 150px;
    }
    #HEADLINE6>.ladi-headline {
        color: rgb(234, 212, 29);
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        line-height: 1.6;
    }
    #HEADLINE7 {
        width: 150px;
        top: 3.5px;
        left: 309.999px;
    }
    #HEADLINE7>.ladi-headline {
        color: rgb(234, 212, 29);
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        line-height: 1.6;
    }
    #LINE8 {
        height: 33px;
        top: 0px;
        left: 141px;
    }
    #LINE8>.ladi-line>.ladi-line-container {
        border-top: 0px !important;
        border-right: 2px solid rgb(234, 212, 29);
        border-bottom: 2px solid rgb(234, 212, 29);
        border-left: 2px solid rgb(234, 212, 29);
    }
    #LINE8>.ladi-line {
        height: 100%;
        padding: 0px 8px;
    }
    #LINE9 {
        height: 33px;
        top: 0px;
        left: 300px;
    }
    #LINE9>.ladi-line>.ladi-line-container {
        border-top: 0px !important;
        border-right: 1px solid rgb(234, 212, 29);
        border-bottom: 1px solid rgb(234, 212, 29);
        border-left: 1px solid rgb(234, 212, 29);
    }
    #LINE9>.ladi-line {
        height: 100%;
        padding: 0px 8px;
    }
    #HEADLINE10 {
        width: 181px;
        top: 16.6279px;
        left: -78.6px;
    }
    #HEADLINE10>.ladi-headline {
        color: rgb(0, 0, 0);
        font-size: 16px;
        line-height: 1.6;
    }
    #HEADLINE11 {
        width: 241px;
        top: 13.9439px;
        left: 216px;
    }
    #HEADLINE11>.ladi-headline {
        color: rgb(0, 0, 0);
        font-size: 16px;
        line-height: 1.6;
    }
    #HEADLINE12 {
        width: 181px;
        top: 13.5721px;
        left: 599px;
    }
    #HEADLINE12>.ladi-headline {
        color: rgb(0, 0, 0);
        font-size: 16px;
        line-height: 1.6;
    }
    #HEADLINE13 {
        width: 181px;
        top: 13.9438px;
        left: 891px;
    }
    #HEADLINE13>.ladi-headline {
        color: rgb(0, 0, 0);
        font-size: 16px;
        line-height: 1.6;
    }
    #HEADLINE15 {
        width: 959px;
        top: 31.967px;
        left: 0px;
    }
    #HEADLINE15>.ladi-headline {
        color: rgb(0, 0, 0);
        font-size: 36px;
        font-weight: bold;
        text-align: center;
        line-height: 1.6;
    }
    #BOX21 {
        width: 269.865px;
        height: 440.211px;
        top: 0px;
        left: 0px;
    }
    #BOX21>.ladi-box {
        background-color: rgb(255, 255, 255);
    }
    #BOX24 {
        width: 245.047px;
        height: 245.048px;
        top: 10.3314px;
        left: 12.2759px;
    }
    #BOX24>.ladi-box {
        background-size: cover;
        background-attachment: scroll;
        background-origin: content-box;
        background-image: url(../image/trangchu/shoes-1.png);
        background-position: center top;
        background-repeat: repeat;
    }
    #HEADLINE25 {
        width: 246px;
        top: 264.132px;
        left: 12.2759px;
    }
    #HEADLINE25>.ladi-headline {
        color: rgb(0, 0, 0);
        font-size: 13px;
        text-align: center;
        line-height: 1.6;
    }
    #IMAGE26 {
        width: 112.029px;
        height: 22.973px;
        top: 311.725px;
        left: 22.5724px;
    }
    #IMAGE26>.ladi-image>.ladi-image-background {
        width: 112.029px;
        height: 22.973px;
        top: 0px;
        left: 0px;
        background-image: url(../image/trangchu/star-5.png);
    }
    #HEADLINE27 {
        width: 113px;
        top: 311.725px;
        left: 142.271px;
    }
    #HEADLINE27>.ladi-headline {
        color: rgb(0, 0, 0);
        font-size: 14px;
        text-align: left;
        line-height: 1.6;
    }
    #HEADLINE28 {
        width: 119px;
        top: 336.333px;
        left: 22.5724px;
    }
    #HEADLINE28>.ladi-headline {
        color: rgb(255, 0, 0);
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        line-height: 1.6;
    }
    #HEADLINE29 {
        width: 104px;
        top: 339.615px;
        left: 134.602px;
    }
    #HEADLINE29>.ladi-headline {
        text-decoration-line: line-through;
        -webkit-text-decoration-line: line-through;
        color: rgb(0, 0, 0);
        font-size: 14px;
        text-align: center;
        line-height: 1.6;
    }
    #BUTTON30 {
        width: 150.967px;
        height: 41.5708px;
        top: 374.622px;
        left: 59.4488px;
    }
    #BUTTON30>.ladi-button>.ladi-button-background {
        background-color: rgb(255, 0, 0);
    }
    #BUTTON_TEXT30 {
        width: 111px;
        top: 9.84571px;
        left: 0px;
    }
    #BUTTON_TEXT30>.ladi-headline {
        color: rgb(255, 255, 255);
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        line-height: 1.6;
    }
    #GROUP31 {
        width: 269.865px;
        height: 440.211px;
        top: 95.189px;
        left: 47.305px;
    }
    #BOX33 {
        width: 269.865px;
        height: 440.211px;
        top: 0px;
        left: 0px;
    }
    #BOX33>.ladi-box {
        background-color: rgb(255, 255, 255);
    }
    #BOX34 {
        width: 245.047px;
        height: 245.048px;
        top: 10.3315px;
        left: 12.276px;
    }
    #BOX34>.ladi-box {
        background-size: cover;
        background-attachment: scroll;
        background-origin: content-box;
        background-image: url(../image/trangchu/shoes-3.png);
        background-position: center top;
        background-repeat: repeat;
    }
    #HEADLINE35 {
        width: 246px;
        top: 264.132px;
        left: 12.276px;
    }
    #HEADLINE35>.ladi-headline {
        color: rgb(0, 0, 0);
        font-size: 13px;
        text-align: center;
        line-height: 1.6;
    }
    #IMAGE36 {
        width: 112.028px;
        height: 22.973px;
        top: 311.725px;
        left: 22.5724px;
    }
    #IMAGE36>.ladi-image>.ladi-image-background {
        width: 112.028px;
        height: 22.973px;
        top: 0px;
        left: 0px;
        background-image: url(../image/trangchu/star-5.png);
    }
    #HEADLINE37 {
        width: 113px;
        top: 311.725px;
        left: 142.271px;
    }
    #HEADLINE37>.ladi-headline {
        color: rgb(0, 0, 0);
        font-size: 14px;
        text-align: left;
        line-height: 1.6;
    }
    #HEADLINE38 {
        width: 120px;
        top: 336.333px;
        left: 22.5724px;
    }
    #HEADLINE38>.ladi-headline {
        color: rgb(255, 0, 0);
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        line-height: 1.6;
    }
    #HEADLINE39 {
        width: 104px;
        top: 339.615px;
        left: 134.602px;
    }
    #HEADLINE39>.ladi-headline {
        text-decoration-line: line-through;
        -webkit-text-decoration-line: line-through;
        color: rgb(0, 0, 0);
        font-size: 14px;
        text-align: center;
        line-height: 1.6;
    }
    #BUTTON_TEXT40 {
        width: 112px;
        top: 9.84574px;
        left: 0px;
    }
    #BUTTON_TEXT40>.ladi-headline {
        color: rgb(255, 255, 255);
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        line-height: 1.6;
    }
    #BUTTON40 {
        width: 150.967px;
        height: 41.5708px;
        top: 374.623px;
        left: 59.4488px;
    }
    #BUTTON40>.ladi-button>.ladi-button-background {
        background-color: rgb(255, 0, 0);
    }
    #GROUP32 {
        width: 269.865px;
        height: 440.211px;
        top: 95.189px;
        left: 345.681px;
    }
    #BOX43 {
        width: 269.865px;
        height: 440.211px;
        top: 0px;
        left: 0px;
    }
    #BOX43>.ladi-box {
        background-color: rgb(255, 255, 255);
    }
    #BOX44 {
        width: 245.047px;
        height: 245.048px;
        top: 10.3314px;
        left: 12.2759px;
    }
    #BOX44>.ladi-box {
        background-size: cover;
        background-attachment: scroll;
        background-origin: content-box;
        background-image: url(../image/trangchu/shoes-2.png);
        background-position: center top;
        background-repeat: repeat;
    }
    #HEADLINE45 {
        width: 246px;
        top: 264.132px;
        left: 12.2759px;
    }
    #HEADLINE45>.ladi-headline {
        color: rgb(0, 0, 0);
        font-size: 13px;
        text-align: center;
        line-height: 1.6;
    }
    #IMAGE46 {
        width: 112.029px;
        height: 22.973px;
        top: 311.725px;
        left: 22.5724px;
    }
    #IMAGE46>.ladi-image>.ladi-image-background {
        width: 112.029px;
        height: 22.973px;
        top: 0px;
        left: 0px;
        background-image: url(../image/trangchu/star-5.png);
    }
    #HEADLINE47 {
        width: 113px;
        top: 311.725px;
        left: 142.271px;
    }
    #HEADLINE47>.ladi-headline {
        color: rgb(0, 0, 0);
        font-size: 14px;
        text-align: left;
        line-height: 1.6;
    }
    #HEADLINE48 {
        width: 119px;
        top: 336.333px;
        left: 22.5724px;
    }
    #HEADLINE48>.ladi-headline {
        color: rgb(255, 0, 0);
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        line-height: 1.6;
    }
    #HEADLINE49 {
        width: 104px;
        top: 339.615px;
        left: 134.602px;
    }
    #HEADLINE49>.ladi-headline {
        text-decoration-line: line-through;
        -webkit-text-decoration-line: line-through;
        color: rgb(0, 0, 0);
        font-size: 14px;
        text-align: center;
        line-height: 1.6;
    }
    #BUTTON_TEXT50 {
        width: 111px;
        top: 9.84571px;
        left: 0px;
    }
    #BUTTON_TEXT50>.ladi-headline {
        color: rgb(255, 255, 255);
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        line-height: 1.6;
    }
    #BUTTON50 {
        width: 150.967px;
        height: 41.5708px;
        top: 374.622px;
        left: 59.4488px;
    }
    #BUTTON50>.ladi-button>.ladi-button-background {
        background-color: rgb(255, 0, 0);
    }
    #GROUP42 {
        width: 269.865px;
        height: 440.211px;
        top: 95.189px;
        left: 642.83px;
    }
    #IMAGE63 {
        width: 34.6905px;
        height: 47px;
        top: 5.072px;
        left: 559.375px;
    }
    #IMAGE63>.ladi-image>.ladi-image-background {
        width: 34.6905px;
        height: 47px;
        top: 0px;
        left: 0px;
        background-image: url(../image/trangchu/bao-hanh-12-thang.png);
    }
    #IMAGE64 {
        width: 30px;
        height: 30.5769px;
        top: 11.6554px;
        left: 851.934px;
    }
    #IMAGE64>.ladi-image>.ladi-image-background {
        width: 30px;
        height: 30.5769px;
        top: 0px;
        left: 0px;
        background-image: url(../image/trangchu/doi-tra-trong-2-3-ngay.png);
    }
    #IMAGE65 {
        width: 33.132px;
        height: 44.8885px;
        top: 4.49955px;
        left: 177px;
    }
    #IMAGE65>.ladi-image>.ladi-image-background {
        width: 33.132px;
        height: 44.8885px;
        top: 0px;
        left: 0px;
        background-image: url(../image/trangchu/100-hang-chinh-hang-thai-lan.png);
    }
    #IMAGE66 {
        width: 35.9442px;
        height: 35.9442px;
        top: 11.6558px;
        left: -123.351px;
    }
    #IMAGE66>.ladi-image>.ladi-image-background {
        width: 35.9442px;
        height: 35.9442px;
        top: 0px;
        left: 0px;
        background-image: url(../image/trangchu/o-to.svg);
    }
    #SECTION67 {
        height: 473.9px;
    }
    #SECTION67>.ladi-section-background {
        background-color: rgb(36, 36, 36);
    }
    #HEADLINE68 {
        width: 959px;
        top: 0px;
        left: 0px;
    }
    #HEADLINE68>.ladi-headline {
        color: rgb(255, 255, 255);
        font-size: 36px;
        font-weight: bold;
        text-align: center;
        line-height: 1.6;
    }
    #HEADLINE69 {
        width: 960px;
        top: 22px;
        left: 0px;
    }
    #HEADLINE69>.ladi-headline {
        color: rgb(255, 255, 255);
        font-size: 36px;
        text-align: center;
        line-height: 1.6;
    }
    #HEADLINE70 {
        width: 1205px;
        top: 92.378px;
        left: -125px;
    }
    #HEADLINE70>.ladi-headline {
        color: rgb(255, 255, 255);
        font-size: 16px;
        text-align: center;
        line-height: 1.6;
    }
    #HEADLINE71 {
        width: 1205px;
        top: 166.323px;
        left: -125px;
    }
    #HEADLINE71>.ladi-headline {
        color: rgb(255, 255, 255);
        font-size: 16px;
        line-height: 1.6;
    }
    #HEADLINE72 {
        width: 1205px;
        top: 234.323px;
        left: -125px;
    }
    #HEADLINE72>.ladi-headline {
        color: rgb(255, 255, 255);
        font-size: 16px;
        line-height: 1.6;
    }
    #HEADLINE73 {
        width: 1086px;
        top: 386.323px;
        left: -125px;
    }
    #HEADLINE73>.ladi-headline {
        color: rgb(255, 255, 255);
        font-size: 16px;
        line-height: 1.6;
    }
    #GROUP98 {
        width: 459.999px;
        height: 33px;
        top: 39.2px;
        left: 642.83px;
    }
    #HEADLINE109 {
        width: 246px;
        top: 17.3px;
        left: 385.963px;
    }
    #HEADLINE109>.ladi-headline {
        color: rgb(255, 255, 255);
        font-size: 25px;
        font-weight: bold;
        line-height: 1.6;
    }
    #LINE110 {
        width: 350px;
        top: 57.3px;
        left: 332.963px;
    }
    #LINE110>.ladi-line>.ladi-line-container {
        border-top: 1px solid rgb(255, 255, 255);
        border-right: 1px solid rgb(255, 255, 255);
        border-bottom: 1px solid rgb(255, 255, 255);
        border-left: 0px !important;
    }
    #LINE110>.ladi-line {
        width: 100%;
        padding: 8px 0px;
    }
    #HEADLINE111 {
        width: 451px;
        top: 74.3px;
        left: 283.463px;
    }
    #HEADLINE111>.ladi-headline {
        color: rgb(236, 255, 1);
        font-size: 22px;
        font-weight: bold;
        line-height: 1.6;
    }
    #PARAGRAPH112 {
        width: 469px;
        top: 122.3px;
        left: 245.5px;
    }
    #PARAGRAPH112>.ladi-paragraph {
        color: rgb(255, 255, 255);
        font-size: 16px;
        line-height: 1.6;
    }
    #PARAGRAPH113 {
        width: 176px;
        top: 147.3px;
        left: 385.963px;
    }
    #PARAGRAPH113>.ladi-paragraph {
        color: rgb(255, 255, 255);
        font-size: 16px;
        text-align: center;
        line-height: 1.6;
    }
    #PARAGRAPH114 {
        width: 366px;
        top: 172.3px;
        left: 290.963px;
    }
    #PARAGRAPH114>.ladi-paragraph {
        color: rgb(255, 255, 255);
        font-size: 16px;
        text-align: center;
        line-height: 1.6;
    }
    #PARAGRAPH115 {
        width: 239px;
        top: 197.3px;
        left: 361.963px;
    }
    #PARAGRAPH115>.ladi-paragraph {
        color: rgb(255, 255, 255);
        font-size: 16px;
        text-align: center;
        line-height: 1.6;
    }
    #LINE116 {
        width: 350px;
        top: 222.3px;
        left: 305px;
    }
    #LINE116>.ladi-line>.ladi-line-container {
        border-top: 1px solid rgb(255, 255, 255);
        border-right: 1px solid rgb(255, 255, 255);
        border-bottom: 1px solid rgb(255, 255, 255);
        border-left: 0px !important;
    }
    #LINE116>.ladi-line {
        width: 100%;
        padding: 8px 0px;
    }
    #PARAGRAPH117 {
        width: 176px;
        top: 251.3px;
        left: 24px;
    }
    #PARAGRAPH117>.ladi-paragraph {
        color: rgb(255, 255, 255);
        font-size: 16px;
        text-align: center;
        line-height: 1.6;
    }
    #PARAGRAPH118 {
        width: 176px;
        top: 251.3px;
        left: 224.463px;
    }
    #PARAGRAPH118>.ladi-paragraph {
        color: rgb(255, 255, 255);
        font-size: 16px;
        text-align: center;
        line-height: 1.6;
    }
    #PARAGRAPH119 {
        width: 176px;
        top: 251.3px;
        left: 419.963px;
    }
    #PARAGRAPH119>.ladi-paragraph {
        color: rgb(255, 255, 255);
        font-size: 16px;
        text-align: center;
        line-height: 1.6;
    }
    #PARAGRAPH120 {
        width: 176px;
        top: 251.3px;
        left: 603px;
    }
    #PARAGRAPH120>.ladi-paragraph {
        color: rgb(255, 255, 255);
        font-size: 16px;
        text-align: center;
        line-height: 1.6;
    }
    #PARAGRAPH121 {
        width: 176px;
        top: 251.3px;
        left: 779px;
    }
    #PARAGRAPH121>.ladi-paragraph {
        color: rgb(255, 255, 255);
        font-size: 16px;
        text-align: center;
        line-height: 1.6;
    }
    #SECTION108 {
        height: 328.3px;
    }
    #SECTION108>.ladi-section-background {
        background-color: rgb(0, 0, 0);
    }
    #IMAGE122 {
        width: 142.856px;
        height: 142px;
        top: 30.3px;
        left: 47.8335px;
    }
    #IMAGE122>.ladi-image>.ladi-image-background {
        width: 142.856px;
        height: 142px;
        top: 0px;
        left: 0px;
        background-image: url(../image/trangchu/logo.png);
    }
    #IMAGE14 {
        width: 1458.37px;
        height: 643.4px;
        top: 0px;
        left: -251.936px;
    }
    #IMAGE14>.ladi-image>.ladi-image-background {
        width: 1458.37px;
        height: 643.4px;
        top: 0px;
        left: 0px;
        background-image: url(../image/trangchu/banner.png);
    }
    #SECTION3 {
        height: 642.4px;
    }
    #SECTION3>.ladi-section-background {
        background-size: cover;
        background-attachment: scroll;
        background-origin: content-box;
        background-position: center top;
        background-repeat: repeat;
    }
    #IMAGE123 {
        width: 115px;
        height: 103.2px;
        top: 8.2px;
        left: 0px;
    }
    #IMAGE123>.ladi-image>.ladi-image-background {
        width: 115px;
        height: 103.2px;
        top: 0px;
        left: 0px;
        background-image: url(../image/trangchu/logo.png);
    }
    #HTML_CODE124 {
        width: 320px;
        height: 79.9999px;
        top: -168.544px;
        left: 257px;
    }
}

@media (max-width: 767px) {
    #SECTION_POPUP {
        height: 0px;
    }
    #SECTION1 {
        height: 174.2px;
    }
    #SECTION1>.ladi-section-background {
        background-color: rgb(0, 0, 0);
    }
    #SECTION2 {
        height: 104.888px;
    }
    #SECTION4 {
        height: 729.514px;
    }
    #SECTION4>.ladi-section-background {
        background-size: cover;
        background-attachment: scroll;
        background-origin: content-box;
        background-image: url(../image/trangchu/bg-white.png);
        background-position: center top;
        background-repeat: repeat;
    }
    #HEADLINE5 {
        width: 129px;
        top: 3.5px;
        left: 0px;
    }
    #HEADLINE5>.ladi-headline {
        color: rgb(234, 212, 29);
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        line-height: 1.6;
    }
    #HEADLINE6 {
        width: 117px;
        top: 3.5px;
        left: 151.5px;
    }
    #HEADLINE6>.ladi-headline {
        color: rgb(234, 212, 29);
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        line-height: 1.6;
    }
    #HEADLINE7 {
        width: 150px;
        top: 3.5px;
        left: 280.292px;
    }
    #HEADLINE7>.ladi-headline {
        color: rgb(234, 212, 29);
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        line-height: 1.6;
    }
    #LINE8 {
        height: 33px;
        top: 0px;
        left: 126.708px;
    }
    #LINE8>.ladi-line>.ladi-line-container {
        border-top: 0px !important;
        border-right: 2px solid rgb(234, 212, 29);
        border-bottom: 2px solid rgb(234, 212, 29);
        border-left: 2px solid rgb(234, 212, 29);
    }
    #LINE8>.ladi-line {
        height: 100%;
        padding: 0px 8px;
    }
    #LINE9 {
        height: 33px;
        top: 0px;
        left: 277.5px;
    }
    #LINE9>.ladi-line>.ladi-line-container {
        border-top: 0px !important;
        border-right: 1px solid rgb(234, 212, 29);
        border-bottom: 1px solid rgb(234, 212, 29);
        border-left: 1px solid rgb(234, 212, 29);
    }
    #LINE9>.ladi-line {
        height: 100%;
        padding: 0px 8px;
    }
    #HEADLINE10 {
        width: 87px;
        top: 55.8885px;
        left: 114px;
    }
    #HEADLINE10>.ladi-headline {
        color: rgb(0, 0, 0);
        font-size: 14px;
        text-align: center;
        line-height: 1.6;
    }
    #HEADLINE11 {
        width: 114px;
        top: 55.8885px;
        left: 4px;
    }
    #HEADLINE11>.ladi-headline {
        color: rgb(0, 0, 0);
        font-size: 13px;
        text-align: center;
        line-height: 1.6;
    }
    #HEADLINE12 {
        width: 79px;
        top: 55.8885px;
        left: 221.5px;
    }
    #HEADLINE12>.ladi-headline {
        color: rgb(0, 0, 0);
        font-size: 14px;
        text-align: center;
        line-height: 1.6;
    }
    #HEADLINE13 {
        width: 86px;
        top: 55.8885px;
        left: 318px;
    }
    #HEADLINE13>.ladi-headline {
        color: rgb(0, 0, 0);
        font-size: 14px;
        text-align: center;
        line-height: 1.6;
    }
    #HEADLINE15 {
        width: 400px;
        top: 10px;
        left: 10px;
    }
    #HEADLINE15>.ladi-headline {
        color: rgb(0, 0, 0);
        font-size: 25px;
        font-weight: bold;
        text-align: center;
        line-height: 1.6;
    }
    #BOX21 {
        width: 198.871px;
        height: 324.403px;
        top: 0px;
        left: 0px;
    }
    #BOX21>.ladi-box {
        background-color: rgb(255, 255, 255);
    }
    #BOX24 {
        width: 180.582px;
        height: 180.582px;
        top: 7.61349px;
        left: 9.04648px;
    }
    #BOX24>.ladi-box {
        background-size: cover;
        background-attachment: scroll;
        background-origin: content-box;
        background-image: url(../image/trangchu/shoes-1.png);
        background-position: center top;
        background-repeat: repeat;
    }
    #HEADLINE25 {
        width: 181px;
        top: 194.646px;
        left: 9.04648px;
    }
    #HEADLINE25>.ladi-headline {
        color: rgb(0, 0, 0);
        font-size: 12px;
        text-align: center;
        line-height: 1.6;
    }
    #IMAGE26 {
        width: 82.5571px;
        height: 16.9294px;
        top: 229.718px;
        left: 16.6342px;
    }
    #IMAGE26>.ladi-image>.ladi-image-background {
        width: 82.5571px;
        height: 16.9294px;
        top: 0px;
        left: 0px;
        background-image: url(../image/trangchu/star-5.png);
    }
    #HEADLINE27 {
        width: 93px;
        top: 228.718px;
        left: 104.844px;
    }
    #HEADLINE27>.ladi-headline {
        color: rgb(0, 0, 0);
        font-size: 13px;
        text-align: left;
        line-height: 1.6;
    }
    #HEADLINE28 {
        width: 88px;
        top: 247.853px;
        left: 16.6342px;
    }
    #HEADLINE28>.ladi-headline {
        color: rgb(255, 0, 0);
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        line-height: 1.6;
    }
    #HEADLINE29 {
        width: 78px;
        top: 250.271px;
        left: 99.192px;
    }
    #HEADLINE29>.ladi-headline {
        text-decoration-line: line-through;
        -webkit-text-decoration-line: line-through;
        color: rgb(0, 0, 0);
        font-size: 14px;
        text-align: center;
        line-height: 1.6;
    }
    #BUTTON30 {
        width: 111.252px;
        height: 30.6346px;
        top: 276.069px;
        left: 43.8095px;
    }
    #BUTTON30>.ladi-button>.ladi-button-background {
        background-color: rgb(255, 0, 0);
    }
    #BUTTON_TEXT30 {
        width: 151px;
        top: 7.25555px;
        left: 0px;
    }
    #BUTTON_TEXT30>.ladi-headline {
        color: rgb(255, 255, 255);
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        line-height: 1.6;
    }
    #GROUP31 {
        width: 198.871px;
        height: 324.403px;
        top: 60px;
        left: 110.564px;
    }
    #BOX33 {
        width: 200.901px;
        height: 327.716px;
        top: 0px;
        left: 0px;
    }
    #BOX33>.ladi-box {
        background-color: rgb(255, 255, 255);
    }
    #BOX34 {
        width: 182.426px;
        height: 182.426px;
        top: 7.69124px;
        left: 9.13883px;
    }
    #BOX34>.ladi-box {
        background-size: cover;
        background-attachment: scroll;
        background-origin: content-box;
        background-image: url(../image/trangchu/shoes-3.png);
        background-position: center top;
        background-repeat: repeat;
    }
    #HEADLINE35 {
        width: 182px;
        top: 196.634px;
        left: 9.13883px;
    }
    #HEADLINE35>.ladi-headline {
        color: rgb(0, 0, 0);
        font-size: 12px;
        text-align: center;
        line-height: 1.6;
    }
    #IMAGE36 {
        width: 83.3998px;
        height: 17.1023px;
        top: 232.065px;
        left: 16.804px;
    }
    #IMAGE36>.ladi-image>.ladi-image-background {
        width: 83.3998px;
        height: 17.1023px;
        top: 0px;
        left: 0px;
        background-image: url(../image/trangchu/star-5.png);
    }
    #HEADLINE37 {
        width: 93px;
        top: 231.065px;
        left: 105.913px;
    }
    #HEADLINE37>.ladi-headline {
        color: rgb(0, 0, 0);
        font-size: 13px;
        text-align: left;
        line-height: 1.6;
    }
    #HEADLINE38 {
        width: 89px;
        top: 250.384px;
        left: 16.804px;
    }
    #HEADLINE38>.ladi-headline {
        color: rgb(255, 0, 0);
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        line-height: 1.6;
    }
    #HEADLINE39 {
        width: 78px;
        top: 252.827px;
        left: 100.204px;
    }
    #HEADLINE39>.ladi-headline {
        text-decoration-line: line-through;
        -webkit-text-decoration-line: line-through;
        color: rgb(0, 0, 0);
        font-size: 14px;
        text-align: center;
        line-height: 1.6;
    }
    #BUTTON_TEXT40 {
        width: 151px;
        top: 7.32966px;
        left: 0px;
    }
    #BUTTON_TEXT40>.ladi-headline {
        color: rgb(255, 255, 255);
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        line-height: 1.6;
    }
    #BUTTON40 {
        width: 112.387px;
        height: 30.9475px;
        top: 278.888px;
        left: 44.2566px;
    }
    #BUTTON40>.ladi-button>.ladi-button-background {
        background-color: rgb(255, 0, 0);
    }
    #GROUP32 {
        width: 200.901px;
        height: 327.716px;
        top: 392.798px;
        left: 210.114px;
    }
    #BOX43 {
        width: 198.871px;
        height: 324.404px;
        top: 0px;
        left: 0px;
    }
    #BOX43>.ladi-box {
        background-color: rgb(255, 255, 255);
    }
    #BOX44 {
        width: 180.582px;
        height: 180.582px;
        top: 7.61351px;
        left: 9.04649px;
    }
    #BOX44>.ladi-box {
        background-size: cover;
        background-attachment: scroll;
        background-origin: content-box;
        background-image: url(../image/trangchu/shoes-2.png);
        background-position: center top;
        background-repeat: repeat;
    }
    #HEADLINE45 {
        width: 190px;
        top: 194.646px;
        left: 0px;
    }
    #HEADLINE45>.ladi-headline {
        color: rgb(0, 0, 0);
        font-size: 12px;
        text-align: center;
        line-height: 1.6;
    }
    #IMAGE46 {
        width: 82.5571px;
        height: 16.9294px;
        top: 229.719px;
        left: 16.6342px;
    }
    #IMAGE46>.ladi-image>.ladi-image-background {
        width: 82.5571px;
        height: 16.9294px;
        top: 0px;
        left: 0px;
        background-image: url(../image/trangchu/star-5.png);
    }
    #HEADLINE47 {
        width: 93px;
        top: 228.719px;
        left: 104.843px;
    }
    #HEADLINE47>.ladi-headline {
        color: rgb(0, 0, 0);
        font-size: 13px;
        text-align: left;
        line-height: 1.6;
    }
    #HEADLINE48 {
        width: 88px;
        top: 247.853px;
        left: 16.6342px;
    }
    #HEADLINE48>.ladi-headline {
        color: rgb(255, 0, 0);
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        line-height: 1.6;
    }
    #HEADLINE49 {
        width: 78px;
        top: 250.272px;
        left: 99.1918px;
    }
    #HEADLINE49>.ladi-headline {
        text-decoration-line: line-through;
        -webkit-text-decoration-line: line-through;
        color: rgb(0, 0, 0);
        font-size: 14px;
        text-align: center;
        line-height: 1.6;
    }
    #BUTTON_TEXT50 {
        width: 151px;
        top: 7.25558px;
        left: 0px;
    }
    #BUTTON_TEXT50>.ladi-headline {
        color: rgb(255, 255, 255);
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        line-height: 1.6;
    }
    #BUTTON50 {
        width: 111.251px;
        height: 30.6347px;
        top: 276.07px;
        left: 43.8094px;
    }
    #BUTTON50>.ladi-button>.ladi-button-background {
        background-color: rgb(255, 0, 0);
    }
    #GROUP42 {
        width: 198.871px;
        height: 324.404px;
        top: 392.798px;
        left: 10px;
    }
    #IMAGE63 {
        width: 34.6905px;
        height: 47px;
        top: 4px;
        left: 242.134px;
    }
    #IMAGE63>.ladi-image>.ladi-image-background {
        width: 34.6905px;
        height: 47px;
        top: 0px;
        left: 0px;
        background-image: url(../image/trangchu/bao-hanh-12-thang.png);
    }
    #IMAGE64 {
        width: 30px;
        height: 30.5769px;
        top: 11px;
        left: 346.533px;
    }
    #IMAGE64>.ladi-image>.ladi-image-background {
        width: 30px;
        height: 30.5769px;
        top: 0px;
        left: 0px;
        background-image: url(../image/trangchu/doi-tra-trong-2-3-ngay.png);
    }
    #IMAGE65 {
        width: 33.132px;
        height: 44.8885px;
        top: 11px;
        left: 44.434px;
    }
    #IMAGE65>.ladi-image>.ladi-image-background {
        width: 33.132px;
        height: 44.8885px;
        top: 0px;
        left: 0px;
        background-image: url(../image/trangchu/100-hang-chinh-hang-thai-lan.png);
    }
    #IMAGE66 {
        width: 35.9442px;
        height: 35.9442px;
        top: 11px;
        left: 140.241px;
    }
    #IMAGE66>.ladi-image>.ladi-image-background {
        width: 35.9442px;
        height: 35.9442px;
        top: 0px;
        left: 0px;
        background-image: url(../image/trangchu/o-to.svg);
    }
    #SECTION67 {
        height: 828.528px;
    }
    #SECTION67>.ladi-section-background {
        background-color: rgb(36, 36, 36);
    }
    #HEADLINE68 {
        width: 400px;
        top: 558.399px;
        left: 449.114px;
    }
    #HEADLINE68>.ladi-headline {
        color: rgb(255, 255, 255);
        font-size: 36px;
        font-weight: bold;
        text-align: center;
        line-height: 1.6;
    }
    #HEADLINE69 {
        width: 408px;
        top: 10px;
        left: 6px;
    }
    #HEADLINE69>.ladi-headline {
        color: rgb(255, 255, 255);
        font-size: 31px;
        text-align: center;
        line-height: 1.6;
    }
    #HEADLINE70 {
        width: 381px;
        top: 59px;
        left: 19.5px;
    }
    #HEADLINE70>.ladi-headline {
        color: rgb(255, 255, 255);
        font-size: 16px;
        text-align: justify;
        line-height: 1.6;
    }
    #HEADLINE71 {
        width: 401px;
        top: 236.763px;
        left: 9.2695px;
    }
    #HEADLINE71>.ladi-headline {
        color: rgb(255, 255, 255);
        font-size: 16px;
        text-align: justify;
        line-height: 1.6;
    }
    #HEADLINE72 {
        width: 398px;
        top: 361.763px;
        left: 12.7305px;
    }
    #HEADLINE72>.ladi-headline {
        color: rgb(255, 255, 255);
        font-size: 16px;
        text-align: justify;
        line-height: 1.6;
    }
    #HEADLINE73 {
        width: 343px;
        top: 696.318px;
        left: 38.2695px;
    }
    #HEADLINE73>.ladi-headline {
        color: rgb(255, 255, 255);
        font-size: 16px;
        line-height: 1.6;
    }
    #GROUP98 {
        width: 430.292px;
        height: 33px;
        top: 134.7px;
        left: 0px;
    }
    #HEADLINE109 {
        width: 246px;
        top: 108px;
        left: 82px;
    }
    #HEADLINE109>.ladi-headline {
        color: rgb(255, 255, 255);
        font-size: 25px;
        font-weight: bold;
        line-height: 1.6;
    }
    #LINE110 {
        width: 350px;
        top: 148px;
        left: 35px;
    }
    #LINE110>.ladi-line>.ladi-line-container {
        border-top: 1px solid rgb(255, 255, 255);
        border-right: 1px solid rgb(255, 255, 255);
        border-bottom: 1px solid rgb(255, 255, 255);
        border-left: 0px !important;
    }
    #LINE110>.ladi-line {
        width: 100%;
        padding: 8px 0px;
    }
    #HEADLINE111 {
        width: 400px;
        top: 165px;
        left: 10px;
    }
    #HEADLINE111>.ladi-headline {
        color: rgb(236, 255, 1);
        font-size: 22px;
        font-weight: bold;
        text-align: center;
        line-height: 1.6;
    }
    #PARAGRAPH112 {
        width: 400px;
        top: 235px;
        left: 18px;
    }
    #PARAGRAPH112>.ladi-paragraph {
        color: rgb(255, 255, 255);
        font-size: 16px;
        line-height: 1.6;
    }
    #PARAGRAPH113 {
        width: 176px;
        top: 262px;
        left: 10.7305px;
    }
    #PARAGRAPH113>.ladi-paragraph {
        color: rgb(255, 255, 255);
        font-size: 16px;
        text-align: center;
        line-height: 1.6;
    }
    #PARAGRAPH114 {
        width: 240px;
        top: 291px;
        left: 12.7305px;
    }
    #PARAGRAPH114>.ladi-paragraph {
        color: rgb(255, 255, 255);
        font-size: 16px;
        text-align: center;
        line-height: 1.6;
    }
    #PARAGRAPH115 {
        width: 237px;
        top: 324.5px;
        left: 10px;
    }
    #PARAGRAPH115>.ladi-paragraph {
        color: rgb(255, 255, 255);
        font-size: 16px;
        text-align: center;
        line-height: 1.6;
    }
    #LINE116 {
        width: 350px;
        top: 349.501px;
        left: 35px;
    }
    #LINE116>.ladi-line>.ladi-line-container {
        border-top: 1px solid rgb(255, 255, 255);
        border-right: 1px solid rgb(255, 255, 255);
        border-bottom: 1px solid rgb(255, 255, 255);
        border-left: 0px !important;
    }
    #LINE116>.ladi-line {
        width: 100%;
        padding: 8px 0px;
    }
    #PARAGRAPH117 {
        width: 176px;
        top: 375.501px;
        left: 18px;
    }
    #PARAGRAPH117>.ladi-paragraph {
        color: rgb(255, 255, 255);
        font-size: 16px;
        text-align: center;
        line-height: 1.6;
    }
    #PARAGRAPH118 {
        width: 176px;
        top: 457.501px;
        left: 122px;
    }
    #PARAGRAPH118>.ladi-paragraph {
        color: rgb(255, 255, 255);
        font-size: 16px;
        text-align: center;
        line-height: 1.6;
    }
    #PARAGRAPH119 {
        width: 176px;
        top: 413.501px;
        left: 234px;
    }
    #PARAGRAPH119>.ladi-paragraph {
        color: rgb(255, 255, 255);
        font-size: 16px;
        text-align: center;
        line-height: 1.6;
    }
    #PARAGRAPH120 {
        width: 176px;
        top: 413.501px;
        left: 10px;
    }
    #PARAGRAPH120>.ladi-paragraph {
        color: rgb(255, 255, 255);
        font-size: 16px;
        text-align: center;
        line-height: 1.6;
    }
    #PARAGRAPH121 {
        width: 176px;
        top: 375.501px;
        left: 226px;
    }
    #PARAGRAPH121>.ladi-paragraph {
        color: rgb(255, 255, 255);
        font-size: 16px;
        text-align: center;
        line-height: 1.6;
    }
    #SECTION108 {
        height: 507px;
    }
    #SECTION108>.ladi-section-background {
        background-color: rgb(0, 0, 0);
    }
    #IMAGE122 {
        width: 116.798px;
        height: 109px;
        top: 7px;
        left: 151.37px;
    }
    #IMAGE122>.ladi-image>.ladi-image-background {
        width: 116.798px;
        height: 109px;
        top: 0px;
        left: 0px;
        background-image: url(../image/trangchu/logo.png);
    }
    #IMAGE14 {
        width: 420px;
        height: 185.294px;
        top: 0px;
        left: 0px;
    }
    #IMAGE14>.ladi-image>.ladi-image-background {
        width: 420px;
        height: 185.294px;
        top: 0px;
        left: 0px;
        background-image: url(../image/trangchu/banner.png);
    }
    #SECTION3 {
        height: 406.471px;
    }
    #SECTION3>.ladi-section-background {
        background-size: cover;
        background-attachment: scroll;
        background-origin: content-box;
        background-position: center top;
        background-repeat: repeat;
    }
    #IMAGE123 {
        width: 115px;
        height: 103.2px;
        top: 10px;
        left: 152.5px;
    }
    #IMAGE123>.ladi-image>.ladi-image-background {
        width: 115px;
        height: 103.2px;
        top: 0px;
        left: 0px;
        background-image: url(../image/trangchu/logo.png);
    }
    #HTML_CODE124 {
        width: 320px;
        height: 200px;
        top: 10px;
        left: 50px;
    }
}